<p class="info">
  <span class="info-icon" aria-hidden="true"></span>
  In this step, you can view the cohort of Patient resources for which you can pull data in the next step.
  You can also save the cohort of Patients and the criteria for later.
</p>

<app-resource-table #resourceTableComponent
    [columnDescriptions]="columnDescriptions.getVisibleColumns('Patient') | async"
    resourceType="Patient"
    [loading]="cohort.currentState.loading"
    [resources]="cohort.patientStream | async"
    [loadingStatistics]="cohort.loadingStatistics">
</app-resource-table>
