<div class="v-box">
  <div class="spacer"></div>
  <div class="cart-header" role="heading" aria-level="1">
    <mat-icon svgIcon="shopping_cart_black"></mat-icon>&nbsp;&nbsp;<b>{{pluralFormOfRecordType}} in Cart:</b>
  </div>

  <ng-container *ngIf="listItems.length > 0; else emptyTemplate">
    <div class="spacer" *ngIf="resourceType === 'ResearchStudy'"></div>
    <label class="info" *ngIf="resourceType === 'ResearchStudy'">
      <span class="info-icon" aria-hidden="true"></span>
      Patients will be added to the cohort if they participate in one of the studies in the cart.</label>
    <div class="v-box list" [class.list--tree-view]="isTree()" [class.single-top-item]="listItems.length === 1" role="table">
      <div class="v-box list-header" role="rowgroup">
        <div class="h-box switch-group" *ngIf="isTree()">
          <mat-radio-group
              *ngIf="listItems.length > 1"
              [(ngModel)]="cart.logicalOperator[resourceType]"
              aria-label="Select an operator to combine criteria">
            <mat-radio-button value="and">AND</mat-radio-button>
            <mat-radio-button value="or">OR</mat-radio-button>
          </mat-radio-group>
          <div class="spacer" *ngIf="listItems.length > 1"></div>
          <label class="info">
            <span class="info-icon" aria-hidden="true"></span>
            AND = Patients will be added to the cohort if they meet all criteria in the cart; OR = Patients will be added if they meet any of the criteria.
          </label>
        </div>
        <div class="h-box list-title" role="row">
          <div class="list-toolbar" *ngIf="isTree()" role="columnheader">
            <button type="button"
                    mat-mini-fab color="basic"
                    [attr.aria-label]="createRemoveGroupTooltip"
                    [matTooltip]="createRemoveGroupTooltip"
                    [matMenuTriggerFor]="menu"
                    [disabled]="">
              <mat-icon svgIcon="more_vert"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="groupAllItems()">Group all records
                with the same data types
              </button>
              <button mat-menu-item (click)="groupSelectedItems()">Group
                selected records
              </button>
              <button mat-menu-item (click)="ungroupAllItems()">Ungroup all
                records
              </button>
              <button mat-menu-item (click)="ungroupSelectedItems()">Ungroup
                selected records
              </button>
            </mat-menu>
          </div>
          <div class="list-toolbar list-toolbar__icon" role="columnheader"></div>
          <div class="cell cell-{{resourceType}}-{{column.element}}" *ngFor="let column of columnDescriptions" role="columnheader">{{column.displayName}}</div>
          <div class="cell cell-Variable-constraint" *ngIf="resourceType === 'Variable' || resourceType === 'Observation'" role="columnheader">Value constraint</div>
        </div>
      </div>
      <div class="v-box list-body" role="rowgroup">
        <!-- the top level list -->
        <ng-container *ngFor="let listItem of listItems">
          <div class="v-box list-item">
            <!-- individual records and group headers -->
            <div class="condition-label" *ngIf="isTree()">{{cart.logicalOperator[resourceType]}}</div>
            <div class="h-box" [class.group-header]="cart.isGroup(listItem)" role="row">
              <div class="list-toolbar" *ngIf="isTree()" role="cell">
                <mat-checkbox
                    *ngIf="isTree()"
                    [attr.aria-label]="cart.isGroup(listItem) ? selectGroupTooltip : selectRecordTooltip"
                    [matTooltip]="cart.isGroup(listItem) ? selectGroupTooltip : selectRecordTooltip"
                    (change)="toggleSelection(listItem, $event.checked)"
                    [checked]="selectedItems.has(listItem)">
                </mat-checkbox>
              </div>
              <div class="list-toolbar list-toolbar__icon" role="cell">
                <button
                    type="button"
                    mat-mini-fab class="mini-fab-32" color="basic"
                    (click)="removeRecordFromCart(resourceType, listItem)"
                    [attr.aria-label]="cart.isGroup(listItem) ? removeGroupTooltip : removeRecordTooltip"
                    [matTooltip]="cart.isGroup(listItem) ? removeGroupTooltip : removeRecordTooltip">
                  <mat-icon svgIcon="clear"></mat-icon>
                </button>
              </div>
              <div class="cell cell-{{resourceType}}-{{column.element}}"
                     *ngFor="let column of columnDescriptions" role="cell">
                <app-ellipsis-text>{{ getCellText(listItem, column.element) }}</app-ellipsis-text>
              </div>
              <ng-container *ngIf="resourceTypeColumns === 'Variable'" [ngSwitch]="!cart.getVariableType(listItem)">
                <div class="cell cell-Variable-constraint h-box" *ngSwitchCase="true" role="cell">
                  <label>Loading...</label> <mat-spinner [diameter]="23"></mat-spinner>
                </div>
                <ng-container [ngSwitch]="cart.getVariableType(listItem)" *ngSwitchDefault>
                  <div class="cell cell-Variable-constraint h-box" *ngSwitchCase="'empty'" role="cell">No data found for this variable.</div>
                  <div class="cell cell-Variable-constraint h-box" *ngSwitchCase="'error'" role="cell">Error loading data for this variable.</div>
                  <ng-container [ngSwitch]="cart.isGroup(listItem)" *ngSwitchDefault>
                    <app-search-parameter-value
                        role="cell"
                        *ngSwitchCase="true"
                        class="cell cell-Variable-constraint"
                        valueLabelText="Test value"
                        unitLabelText="Test value unit"
                        [required]="false"
                        [(ngModel)]="cart.variableData[listItem[0].id].value"
                        (ngModelChange)="cart.updateVariableGroupValues(listItem)"
                        [observationCodes]="[listItem[0].id]"
                        [unitList]="cart.variableUnits[listItem[0].id]"
                        [datatype]="cart.getVariableType(listItem)">
                    </app-search-parameter-value>
                    <app-search-parameter-value
                        role="cell"
                        *ngSwitchCase="false"
                        class="cell cell-Variable-constraint"
                        valueLabelText="Test value"
                        unitLabelText="Test value unit"
                        [required]="false"
                        [(ngModel)]="cart.variableData[listItem.id].value"
                        [observationCodes]="[listItem.id]"
                        [unitList]="cart.variableUnits[listItem.id]"
                        [datatype]="cart.getVariableType(listItem)">
                    </app-search-parameter-value>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
            <!-- nested list of records in a group -->
            <ng-container *ngIf="cart.isGroup(listItem)">
              <div class="h-box list-item" *ngFor="let innerItem of listItem" role="row">
                <div class="condition-label">or</div>
                <div class="list-toolbar" role="cell">
                  <mat-checkbox
                      [attr.aria-label]="selectRecordTooltip"
                      [matTooltip]="selectRecordTooltip"
                      (change)="toggleSelection(innerItem, $event.checked)"
                      [checked]="selectedItems.has(innerItem)">
                  </mat-checkbox>
                </div>
                <div class="list-toolbar list-toolbar__spacer"></div>
                <div class="list-toolbar list-toolbar__icon" role="cell">
                  <button
                      type="button"
                      mat-mini-fab class="mini-fab-32" color="basic"
                      (click)="removeRecordFromCart(resourceType, innerItem)"
                      [attr.aria-label]="removeRecordTooltip"
                      [matTooltip]="removeRecordTooltip">
                    <mat-icon svgIcon="clear"></mat-icon>
                  </button>
                </div>
                <div *ngFor="let column of columnDescriptions; let index = index"
                       class="cell cell-{{resourceType}}-{{column.element}} cell-index-{{index}}"  role="cell">
                  <app-ellipsis-text>{{ getCellText(innerItem, column.element) }}</app-ellipsis-text>
                </div>

                <div class="cell cell-Variable-constraint" role="cell"></div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyTemplate>
    <label>No {{pluralFormOfRecordType.toLowerCase()}} in the cart. Select the {{pluralFormOfRecordType.toLowerCase()}} for which you want to build a cohort of patients.</label>
  </ng-template>
</div>
