<div class="v-box">
  <div class="spacer"></div>
  <div class="h-box">
    <b>{{pluralFormOfRecordType}} in Cart:</b>
  </div>
  <div class="spacer"></div>

  <ng-container *ngIf="listItems.length > 0; else emptyTemplate">
    <label class="info" *ngIf="resourceType === 'ResearchStudy'">
      <span class="info-icon" aria-hidden="true"></span>
      Patients will be added to the cohort if they participate in one of the studies in the cart.</label>
    <div class="spacer" *ngIf="resourceType === 'ResearchStudy'"></div>
    <div class="v-box list" [class.list--tree-view]="isTree()" [class.single-top-item]="listItems.length === 1">
      <div class="v-box list-header">
        <div class="h-box switch-group" *ngIf="resourceType === 'Variable'">
          <mat-radio-group
              *ngIf="isTree() && listItems.length > 1"
              [(ngModel)]="cart.logicalOperator[resourceType]"
              aria-label="Select an operator to combine criteria">
            <mat-radio-button value="and">AND</mat-radio-button>
            <mat-radio-button value="or">OR</mat-radio-button>
          </mat-radio-group>
          <div class="spacer" *ngIf="isTree() && listItems.length > 1"></div>
          <label class="info">
            <span class="info-icon" aria-hidden="true"></span>
            Patients will be added to the cohort if they have all (AND) or one of (OR) the variables from the cart.</label>
        </div>
        <div class="h-box list-title">
          <div class="list-toolbar" *ngIf="isTree()">
            <button type="button" mat-icon-button
                    matTooltip="Create/Remove OR'd groups"
                    [matMenuTriggerFor]="menu"
                    [disabled]="">
              <mat-icon svgIcon="rule"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="groupAllItems()">Group all records with the same data types</button>
              <button mat-menu-item (click)="groupSelectedItems()">Group selected records</button>
              <button mat-menu-item (click)="ungroupAllItems()">Ungroup all records</button>
              <button mat-menu-item (click)="ungroupSelectedItems()">Ungroup selected records</button>
            </mat-menu>
          </div>
          <div class="list-toolbar list-toolbar__icon"></div>
          <label class="cell cell-{{resourceType}}-{{column.element}}" *ngFor="let column of columnDescriptions">{{column.displayName}}</label>
          <label class="cell cell-Variable-constraint" *ngIf="resourceType === 'Variable'">Value constraint</label>
        </div>
      </div>
      <div class="v-box list-body">
        <!-- the top level list -->
        <ng-container *ngFor="let listItem of listItems">
          <div class="v-box list-item">
            <!-- individual records and group headers -->
            <div class="h-box">
              <div class="condition-label" *ngIf="isTree()">{{cart.logicalOperator[resourceType]}}</div>
              <div class="list-toolbar" *ngIf="isTree()">
                <mat-checkbox
                    *ngIf="isTree()"
                    matTooltip="Select this record to group/ungroup"
                    (change)="toggleSelection(listItem, $event.checked)"
                    [checked]="selectedItems.has(listItem)">
                </mat-checkbox>
              </div>
              <div class="list-toolbar list-toolbar__icon">
                <button type="button" mat-icon-button (click)="removeRecordFromCart(resourceType, listItem)">
                  <mat-icon svgIcon="clear"></mat-icon>
                </button>
              </div>
              <label class="cell cell-{{resourceType}}-{{column.element}}"
                     *ngFor="let column of columnDescriptions">
                <app-ellipsis-text>{{ getCellText(listItem, column.element) || '&nbsp;'}}</app-ellipsis-text>
              </label>
              <ng-container *ngIf="resourceType === 'Variable'" [ngSwitch]="!cart.getVariableType(listItem)">
                <div class="cell cell-Variable-constraint h-box" *ngSwitchCase="true"><label>Loading...</label>&nbsp;<mat-spinner [diameter]="30"></mat-spinner></div>
                <ng-container [ngSwitch]="cart.getVariableType(listItem)" *ngSwitchDefault>
                  <label class="cell cell-Variable-constraint h-box" *ngSwitchCase="'empty'">No data found for this variable.</label>
                  <label class="cell cell-Variable-constraint h-box" *ngSwitchCase="'error'">Error loading data for this variable.</label>
                  <ng-container [ngSwitch]="cart.isGroup(listItem)" *ngSwitchDefault>
                    <app-observation-test-value
                        *ngSwitchCase="true"
                        class="cell cell-Variable-constraint"
                        [(ngModel)]="cart.variableData[listItem[0].id].value"
                        [observationCodes]="[listItem[0].id]"
                        [datatype]="cart.getVariableType(listItem)">
                    </app-observation-test-value>
                    <app-observation-test-value
                        *ngSwitchCase="false"
                        class="cell cell-Variable-constraint"
                        [(ngModel)]="cart.variableData[listItem.id].value"
                        [observationCodes]="[listItem.id]"
                        [datatype]="cart.getVariableType(listItem)">
                    </app-observation-test-value>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
            <!-- nested list of records in a group -->
            <ng-container *ngIf="cart.isGroup(listItem)">
              <div class="h-box list-item" *ngFor="let innerItem of listItem">
                <div class="condition-label">or</div>
                <div class="list-toolbar">
                  <mat-checkbox
                      matTooltip="Select this record to group/ungroup"
                      (change)="toggleSelection(innerItem, $event.checked)"
                      [checked]="selectedItems.has(innerItem)">
                  </mat-checkbox>
                </div>
                <div class="list-toolbar list-toolbar__spacer"></div>
                <div class="list-toolbar list-toolbar__icon">
                  <button type="button" mat-icon-button (click)="removeRecordFromCart(resourceType, innerItem)">
                    <mat-icon svgIcon="clear"></mat-icon>
                  </button>
                </div>
                <label *ngFor="let column of columnDescriptions; let index = index"
                       class="cell cell-{{resourceType}}-{{column.element}} cell-index-{{index}}">
                  <app-ellipsis-text>{{ getCellText(innerItem, column.element) || '&nbsp;'}}</app-ellipsis-text>
                </label>

                <label class="cell cell-Variable-constraint"></label>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyTemplate>
    <label>No {{pluralFormOfRecordType.toLowerCase()}} in the cart. Select the {{pluralFormOfRecordType.toLowerCase()}} for which you want to build a cohort of patients.</label>
  </ng-template>
</div>
