<form [formGroup]="settingsFormGroup" class="v-box">
  <p class="info">
    <span class="info-icon" aria-hidden="true"></span>
    <span>
      Select the FHIR server you wish to search. You may also enter the
      <a target="_blank" rel="noreferrer" href="https://www.hl7.org/fhir/http.html#root">base URL</a>
      for your own FHIR server.
    </span>
  </p>
  <mat-form-field>
    <mat-label>FHIR server</mat-label>
    <app-fhir-server-select placeholder="URL" formControlName="serviceBaseUrl"></app-fhir-server-select>
    <div class="overlay" *ngIf="isWaitingForConnection | async">
      <div class="center">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p>Initializing ...</p>
      </div>
    </div>
    <mat-hint align="start" *ngIf="(isWaitingForConnection | async) === false">
      See <a target="_blank" rel="noreferrer" href="https://www.hl7.org/fhir/http.html#root">FHIR REST API Service Base URL</a> for
      details.
    </mat-hint>
    <mat-error>
      Please, specify valid FHIR server URL.
      See <a target="_blank" rel="noreferrer" href="https://www.hl7.org/fhir/http.html#root">FHIR REST API Service Base URL</a> for
      details.
    </mat-error>
  </mat-form-field>

  <div class="spacer"></div>
  <mat-expansion-panel class="section mat-elevation-z">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="expand-collapse-icon" aria-hidden="true"></span>
        Advanced Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="v-box">
        <mat-form-field>
          <mat-label>NCBI E-utilities API Key</mat-label>
          <input matInput placeholder="API Key" formControlName="apiKey"
                 (change)="updateFhirBackendSetting('apiKey')">
          <mat-hint align="start">See <a target="_blank" rel="noreferrer"
                                         href="https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/">New
            API Keys for the E-utilities article</a> for details
          </mat-hint>
        </mat-form-field>
        <div class="spacer"></div>
        <div class="h-box">
          <mat-form-field class="number-field">
            <mat-label>Requests per batch</mat-label>
            <input matInput type="number" min="1" formControlName="maxRequestsPerBatch"
                   (change)="updateFhirBackendSetting('maxRequestsPerBatch')">
            <mat-hint align="start">Combine the specified number of HTTP requests to the FHIR server into a batch
              request
            </mat-hint>
          </mat-form-field>

          <div class="spacer"></div>
          <mat-form-field class="number-field">
            <mat-label>Maximum active requests</mat-label>
            <input matInput type="number" min="1" formControlName="maxActiveRequests"
                   (change)="updateFhirBackendSetting('maxActiveRequests')">
            <mat-hint align="start">The maximum number of HTTP requests that can be active at the same time</mat-hint>
          </mat-form-field>
        </div>

        <div class="spacer"></div>
        <mat-checkbox formControlName="cacheDisabled"
                      (change)="updateFhirBackendSetting('cacheEnabled', !$event.checked)">Disable caching of HTTP requests to the FHIR server</mat-checkbox>
      </div>
    </ng-template>
  </mat-expansion-panel>

</form>
