<div id="header">
  <a href="http://lhncbc.nlm.nih.gov" title="Lister Hill Center" id="logo">
    <img src="assets/lhncbc.jpg" alt="Lister Hill Center" />
  </a>
  <div id="siteNameBox">
    <span id=siteName>FHIR Research Data Finder</span><br>
    <span id=tagline>An <a
      href="https://github.com/lhncbc/fhir-obs-viewer">open source</a> viewer
         for FHIR Observations from the National Library of Medicine</span>
    <div id="version">Version: <a target="_blank"
                                  tabIndex="0"
                                  (keyup.enter)="$event.currentTarget.click()"
                                  [matMenuTriggerFor]="menu">{{version + (isAlpha ? ' (alpha)' : '') }}</a></div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="openChangelog()">View change log</button>
      <button mat-menu-item
              (click)="switchVersion()">Switch to the {{isAlpha ? 'stable' : 'alpha' }} version</button>
    </mat-menu>
    <div id="logout" *ngIf="rasToken.rasTokenValidated" matTooltip="Log out from DbGap" (click)="onLogout()">Log out</div>
  </div>
</div>
<!-- end page header -->
<ul class="nav-links horz-list">
  <li><a id="fhirLink" class=current href="https://lhcforms.nlm.nih.gov">FHIR Tools</a></li><!--
      --><li><a href="https://lhcforms.nlm.nih.gov/lhcforms">LHC-Forms Demo</a></li><!--
      --><li><a href="https://lhcformbuilder.nlm.nih.gov" target="_blank" rel="noopener noreferrer">Form Builder</a></li><!--
      --><li><a href="https://clinicaltables.nlm.nih.gov"
                target="_blank" rel="noopener noreferrer">Clinical Table Search
  Service</a></li><!--
      --><li class="last-item"><a id="sdcPageLink" href="https://lhcforms.nlm.nih.gov/sdc">FHIR SDC SMART App</a></li>
</ul>

<div class="content" role="main">
  <app-stepper></app-stepper>
</div>
