<div id="header">
  <a href="https://lhcforms.nlm.nih.gov" title="LHC FHIR Tools" id="logo">
    <img src="assets/projectLogo.svg" alt="LHC FHIR Tools" />
  </a>
  <div id="siteNameBox">
    <span id=siteName>FHIR Research Data Finder</span><br>
    <span id=tagline>An <a
      href="https://github.com/lhncbc/fhir-obs-viewer">open source</a> tool for
      querying and pulling FHIR research data</span>
    <div class="h-box buttons">
      <div class="logout"
           tabIndex="0"
           *ngIf="rasToken.rasTokenValidated"
           matTooltip="Log out from dbGaP"
           role="link"
           aria-label="Log out from dbGaP"
           (keydown.enter)="onRasLogout()"
           (click)="onRasLogout()">Log out</div>
      <div class="logout"
           tabIndex="0"
           *ngIf="fhirBackend.smartConnectionSuccess"
           matTooltip="Log out from SMART on FHIR"
           role="link"
           aria-label="Log out from SMART on FHIR"
           (keydown.enter)="onSmartLogout()"
           (click)="onSmartLogout()">Log out</div>
      <div id="version">Version: <a target="_blank"
                                    tabIndex="0"
                                    (keyup.enter)="$event.currentTarget.click()"
                                    [matMenuTriggerFor]="menu">{{version + (fhirBackend.isAlphaVersion ? ' (alpha)' : '') }}</a></div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="openChangelog()">View change log</button>
        <button mat-menu-item
                (click)="switchVersion()">Switch to the {{fhirBackend.isAlphaVersion ? 'stable' : 'alpha' }} version</button>
      </mat-menu>
    </div>
  </div>
</div>
<!-- end page header -->
<ul class="nav-links horz-list">
  <li><a id="fhirLink" class=current href="https://lhcforms.nlm.nih.gov">FHIR Tools</a></li><!--
      --><li><a href="https://lhcforms.nlm.nih.gov/lhcforms">LHC-Forms Demo</a></li><!--
      --><li><a href="https://lhcformbuilder.nlm.nih.gov" target="_blank" rel="noopener noreferrer">Form Builder</a></li><!--
      --><li><a href="https://clinicaltables.nlm.nih.gov"
                target="_blank" rel="noopener noreferrer">Clinical Table Search
  Service</a></li><!--
      --><li class="last-item"><a id="sdcPageLink" href="https://lhcforms.nlm.nih.gov/sdc">FHIR SDC SMART App</a></li>
</ul>

<div class="content" role="main">
  <app-stepper></app-stepper>
</div>
