<div class="v-box">
  <p class="info">
    <span class="info-icon" aria-hidden="true"></span>
    At this step, you can browse and select ResearchStudy resources
    from which you want to start building a cohort of Patients,
    or you can skip this step.
  </p>

  <mat-radio-group aria-label="Select an option" class="h-box" [formControl]="option">
    <mat-radio-button [value]="SelectOptions.Skip">Skip this step</mat-radio-button>
    <div class="spacer"></div>
    <mat-radio-button [value]="SelectOptions.ResearchStudy">Select ResearchStudies</mat-radio-button>
  </mat-radio-group>

  <div class="spacer" *ngIf="showTable"></div>
  <app-resource-table *ngIf="showTable" #resourceTableComponent
      [columnDescriptions]="columnDescriptions.getVisibleColumns('ResearchStudy') | async"
      [enableClientFiltering]="true" [enableSelection]="true"
      [resourceStream]="researchStudyStream"
      resourceType="ResearchStudy"></app-resource-table>
</div>
