.search-parameter-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  & app-search-parameter {
    flex: 1 1;
  }
  & mat-icon {
    margin-right: 10px;
    cursor: pointer;
    //color: #c15454;
    //opacity: .54;
    color: rgba(0,0,0,.87);
    opacity: .4;
  }

  & mat-icon:hover {
    opacity: .54;
  }
}
