<div *ngFor="let item of parameterList.controls" class="search-parameter-row">
  <button mat-icon-button aria-label="Remove search parameter"
          (click)="removeParameter(item)">
    <mat-icon svgIcon="clear"></mat-icon>
  </button>
  <app-search-parameter [formControl]="item" [inputResourceType]="resourceType"></app-search-parameter>
</div>

<button id="addSearchCriterion" (click)="addParameter()" mat-stroked-button color="secondary">
  <mat-icon svgIcon="add"></mat-icon>Add a search criterion
</button>
