<p class="info">
  <span class="info-icon" aria-hidden="true"></span>
  In this step, you can just browse public data.
  {{
  fhirBackend.serviceBaseUrl.startsWith('https://dbgap-api.ncbi.nlm.nih.gov')
  ? 'Study selection limits list of variables'
  : ''
  }}
</p>

<mat-tab-group dynamicHeight class="mat-elevation-z1" (selectedTabChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let resourceType of visibleResourceTypes" [label]="resourceType | pluralFormOfRecordName">
    <div class="v-box tab-content">
      <app-resource-table *ngIf="resourceType === 'ResearchStudy' && selectRecords.currentState[resourceType]"
                          #resourceTable
                          [columnDescriptions]="columnDescriptions.getVisibleColumns(resourceType, 'browse') | async"
                          [enableFiltering]="true" [enableSelection]="true"
                          [loading]="selectRecords.currentState[resourceType].loading"
                          [resources]="selectRecords.resourceStream[resourceType] | async"
                          (selectionChange)="onSelectionChange(resourceType)"
                          [selectAny]="true"
                          context="browse"
                          [sort]="sort[resourceType]"
                          [resourceType]="resourceType">
        <ng-template #buttonPrefix>
          <button mat-mini-fab
                  color="basic"
                  type="button" mat-icon-button
                  (click)="reloadFromServer(resourceType)"
                  matTooltip="Reload records from server">
            <mat-icon svgIcon="refresh"></mat-icon>
          </button>
        </ng-template>
        <ng-template #header>
          <mat-accordion>
            <mat-expansion-panel hideToggle #panel>
              <mat-expansion-panel-header
                  (click)="panel.toggle()"
                  (keydown.enter)="panel.toggle()"
                  (keydown.space)="panel.toggle()">
                <mat-panel-title *ngIf="!selectRecords.currentState[resourceType].loading">
                    <span>Selected {{
                        resourceTable.selectedResources.selected.length
                      }} out of {{
                        resourceTable.dataSource.data.length
                      }} {{
                        resourceType | pluralFormOfRecordName | lowercase
                      }}.</span>
                </mat-panel-title>
                <mat-panel-description *ngIf="(selectRecords.currentState[resourceType].isCached | async) !== null">
                  <span *ngIf="resourceTable.loading; else loadedTemplate">
                    <span>Loading studies {{
                      (selectRecords.currentState[resourceType].isCached | async)
                        ? 'from the cache ...'
                        : 'from the server. It may take a minute or two...'
                      }}</span>
                  </span>
                  <ng-template #loadedTemplate>
                    Data loaded from server on {{
                    selectRecords.currentState[resourceType].loadTime | date: 'short'
                    }}
                  </ng-template>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-template>
      </app-resource-table>
      <app-resource-table *ngIf="(resourceType === 'Variable' || resourceType === 'Observation') && selectRecords.currentState[resourceType]"
                          #variableTable
                          [columnDescriptions]="columnDescriptions.getVisibleColumns('Variable', 'browse') | async"
                          (filterChanged)="loadFirstPage(resourceType)"
                          [enableFiltering]="true"
                          [loading]="selectRecords.currentState[resourceType].loading"
                          [resources]="selectRecords.resourceStream[resourceType] | async"
                          [total]="selectRecords.currentState[resourceType].totalRecords"
                          (loadNextPage)="loadNextPage(resourceType)"
                          context="browse"
                          [sort]="sort[resourceType]"
                          (sortChanged)="onSortChanged(resourceType, $event)"
                          [forceClientSort]="resourceType === 'Observation'"
                          [resourceType]="resourceType"
                          resourceTypeColumns="Variable">
        <ng-template #prefix *ngIf="fhirBackend.isDbgap(fhirBackend.serviceBaseUrl)">
          <div class="v-box">
            <div class="h-box">
              <mat-checkbox [(ngModel)]="hasLoinc"
                            [disabled]="recTypeLoinc"
                            (change)="loadFirstPage(resourceType)">Show only LOINC-coded variables</mat-checkbox>
              <div class="spacer"></div>
              <mat-checkbox [(ngModel)]="recTypeLoinc"
                            (change)="hasLoinc=true;loadFirstPage(resourceType)">Show one row per LOINC code</mat-checkbox>
            </div>
            <div class="spacer"></div>
          </div>
        </ng-template>
        <ng-template #header>
          <mat-accordion>
            <mat-expansion-panel hideToggle #panel>
              <mat-expansion-panel-header
                  (click)="panel.toggle()"
                  (keydown.enter)="panel.toggle()"
                  (keydown.space)="panel.toggle()">
                <mat-panel-title *ngIf="!selectRecords.currentState[resourceType].loading">
                    <ng-container>{{
                        variableTable.dataSource.data.length
                      }} {{
                        resourceType | pluralFormOfRecordName | lowercase
                      }} loaded.</ng-container><ng-container *ngIf="selectRecords.currentState[resourceType].totalRecords"> Total {{
                        resourceType | pluralFormOfRecordName | lowercase
                      }}{{
                        variableTable.hasFilters() ? ' for the selected filters': ''
                      }}: {{
                        selectRecords.currentState[resourceType].totalRecords
                      }}.</ng-container>
                </mat-panel-title>
                <mat-panel-description>
                  <span *ngIf="variableTable.loading">
                    <span>Loading {{resourceType | pluralFormOfRecordName | lowercase}} ...</span>
                  </span>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-template>
      </app-resource-table>
    </div>
  </mat-tab>
</mat-tab-group>
