/**
 * App-wide Styles
 */

.alert {
  border: 2px solid red;
  border-radius: 4px;
  font-weight: bold;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  /* jQuery's offset() is confused when the position is set to relative (by
   * angular-material) */
  position: static;
}

.lf-form-table .lf-form-table-row.section-header.level1 {
  background-color: rgb(67,115,156);
  color: white;
}

.lf-form-body .lf-form-table-row.level1.target-show td {
  color: #E8F2FC;
}

a.external:after {
  content: url(/assets/images/icon-external-link.png);
  margin: 0 0 0 5px;
}

th label {font-weight: bold; width: 30em;}

.autocomp_selected {width: 30em;}

input#fhirServer, input.ansList {
  width: 100%;
}

#content {padding: 1em}
#content > p {
  margin-top: 10px;
  margin-bottom: 0
}

#content > p:first-child {
  margin-top: 0;
}

th, td {padding: 0.5em; text-align: left}

h1 {font-size: 36px}
h1, h2 {
  margin-left: 0; margin-top: 0; margin-bottom: 5px;
  line-height: 1.1;
  font-weight: 500;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  border-radius: 7px;
  border: 2px solid #17b4e3;
  padding-left: 0.25em;
  outline-style: none; /* removes border change when focusing in input in Chrome */
}

[placeholder]{
  text-overflow:ellipsis;
}

#perPatientPerTest {
  width: 4em;
}

/* Styles for the collapsible section */
.section {
  position: relative;
  border: 1px solid #17b4e3;
  border-radius: 7px;
  margin-top: 14px;
  margin-bottom: 7px;
  padding-top: 10px;
}

.section_collapsed {
  padding: 0;
  margin-top: 14px;
  margin-bottom: 17px;
  height: 1px;
}

.section_collapsed + .section {
  margin-top: 25px;
}

.section_collapsed .section__header {
  margin-top: -10px;
}

.section_collapsed .section__toolbar,
.section_collapsed .section__body {
  display: none;
}

.section__header {
  cursor: pointer;
  position: sticky;
  margin-top: -20px;
  top: 0;
  height: 20px;
}

.section__title {
  cursor: pointer;
  position: sticky;
  /*width: fit-content;*/
  /*display: block;*/
  top: 0;
  background-color: #fff;
  padding: 3px 5px;
  color: #337ab7;
  margin-left: 10px;
  margin-top: -20px;
}

.section__title::before {
  content: url('../images/triangle-down.svg');
  margin-right: 5px;
  border: 1px solid #337ab7;
  border-radius: 3px;
}
.section_collapsed .section__title::before {
  content: url(../images/triangle-right.svg);
}

.section__header {
  width: 100%;
}

.section__toolbar {
  display: flex;
  flex-direction: row;
  margin: 20px 7px 9px;
}

div.section__body {
  display: flex;
  flex-direction: column;
}

div.section__body > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.section__body > div > label {
  font-weight: bold;
}

div.section__body > div > *:not(:first-child) {
  margin-left: 15px;
}

div.section__body > div {
  padding: 7px 9px 0;
}

div.section__body > label {
  padding: 15px 9px 0;
  font-weight: bold;
  text-decoration: underline;
}

div.section__body > div > input {
  max-width: 30em;
}

div.section__body > .search-parameter > :first-child {
  max-width: 150px;
}

div.section__body > .search-parameter > :nth-child(3) {
  width: 30em;
}

div.section__body.obs-parameters > div > :first-child {
  width: 169px;
}

table.section__body {
  border-spacing: 0;
}
.section__body {
  margin: 9px 0 7px;
}
/* End of styles for the collapsible section */

#load {margin-bottom: 0.5em;}

* {
  box-sizing: border-box;
}

/* Styles for the header */
body {
  margin: 0;
}
#header {
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}
#logo {
  position: relative;
  top: 5px;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
#logo img {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #0BACB6;
  padding-right: 0.75em;
}
#logo, #log img {
  display: block;
}
#logo .site-name-slogan {
  font-size: 14px;
  position: relative;
  top: 10px;
  left: -2px;
}
#logo .site-name-slogan span {
  display: block;
  font-size: 24px;
  position: relative;
  left: -2px;
}
#logo .site-name-slogan .slogan {
  color: #202020;
  font-size: 12px;
  position: relative;
  left: 1px;
}
#siteNameBox {
  margin-top: 2.2em;
}
#siteName {
  font-size: 300%;
}
/* End of styles for the header */

/* Styles for the navigation links */
.nav-links {
  border-bottom: 1px solid black;
  background-color: #ebf5ff;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  padding-left: 7px;
  margin-top: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}
.nav-links a.current {
  font-weight: bold;
}
/* End of styles for the navigation links */

/* Adding more specificity for applying CSS-rules */
.performance-tuning.hide,
.hide {
  display: none;
}

/* Styles for the report popup */
.report-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.report-popup_window {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px 10px 20px 20px;
  border-radius: 7px;
  border: 2px solid #17b4e3;
  width: 500px;
  position: relative;
}

.report-popup_content {
  margin-right: 10px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.report-popup_item {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.report-popup_item:first-child {
  margin-top: 15px;
}
.report-popup_item-space {
  flex: 1 1;
}
.report-popup_close-btn {
  line-height: 0.7;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.report-popup_close-btn:hover,
.report-popup_close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End of styles for the report popup */

/* Styles for the footer */
#fine-print {
  border-top: 2px solid #0BACB6;
  clear: left;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
ul.horz-list li {
  list-style-type: none;
  display: inline;
  padding-left: 8px;
  padding-right: 10px;
  border-right: 1px solid #999;
}
ul.horz-list li.last-item {
  border-right: none;
}
#usagov {
  vertical-align: bottom;
}
/* Add some space above the footer.  For some reason adding a margin-top
   does not work, perhaps because of a float, so instead we add padding to the
   floated element.
 */
.col-md-9 {
  padding-bottom: 1em;
}

.boolean-param {
  display: flex;
  align-items: center;
}

.boolean-param input {
  margin: 0 3px;
}
/* End of styles for the footer */
