/**
 * App-wide Styles
 */

.alert {
  border: 2px solid red;
  border-radius: 4px;
  font-weight: bold;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  /* jQuery's offset() is confused when the position is set to relative (by
   * angular-material) */
  position: static;
}

/* Styles to prevent unnecessary Bootstrap changes */
label {
  display: inline;
}

*,
::after,
::before {
  box-sizing: content-box;
}

button {
  border-radius: 2px;
  border-width: 1px;
  border-style: outset;
  padding: 2px 6px;
  line-height: initial;
}
/* End of styles to prevent unnecessary Bootstrap changes */

/* Styles to improve focus visibility */
input[type="radio"]:focus,
*[tabIndex]:focus {
  outline-style: dotted;
  outline-width: thin;
}

/* removes border change when focusing in input in Chrome */
input[type="text"],
input[type="date"],
input[type="number"] {
  outline-style: none;
}
/* End of styles to improve focus visibility */

/* Styles for tabs-component */
.add-icon::before {
  content: "\00a0";
}

.add-icon {
  background: url("../images/plus.svg") no-repeat 0 0 / 19px 19px;
  width: 19px;
  display: block;
}

a.nav-link_only-image:hover,
a.nav-link_only-image:focus {
  text-decoration: none;
}

.remove-icon {
  background: url("../images/x.svg") no-repeat 0 0 / 14px 14px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  margin-right: 5px;
}

.remove-icon:hover {
  border-color: #337ab7;
}

.last-tab .remove-icon {
  display: none;
}

.tabs-component > .no-tab-content,
.tabs-component > .tab-content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0.75em;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 7px 7px;
  background: #fff;
}

.tabs-component > .tab-content:empty,
.tabs-component > .tab-content:not(:empty) ~ .no-tab-content {
  display: none;
}

.nav-tabs {
  border-bottom-color: #ccc;
}

.nav-tabs .nav-link {
  display: flex;
  align-items: center;
}

.nav-tabs .nav-link.active {
  color: #495057;
  border-color: #ccc #ccc #fff;
}

.nav-tabs .nav-link:not(.active):hover {
  border-color: #e9ecef #e9ecef #ccc;
}
/* End of styles for tabs-component */

.lf-form-table .lf-form-table-row.section-header.level1 {
  background-color: rgb(67, 115, 156);
  color: white;
}

.lf-form-body .lf-form-table-row.level1.target-show td {
  color: #e8f2fc;
}

a.external:after {
  content: url(/assets/images/icon-external-link.png);
  margin: 0 0 0 5px;
}

th label {
  font-weight: bold;
  width: 30em;
}

.autocomp_selected {
  padding: 0;
  line-height: normal;
  width: 100%;
  max-width: 30em;
  border-radius: 7px;
  border: 2px solid #17b4e3;
}

.autocomp_selected input {
  border-radius: 0 0 7px 7px;
  border-width: 0;
}

.autocomp_selected ul:empty {
  display: none;
  border-bottom: 0;
}

.autocomp_selected ul:empty + input {
  border-radius: 7px;
}
.autocomp_selected ul {
  border-bottom: 1px solid #17b4e3;
  margin: 0.25em 0 0;
  padding: 0 0.25em;
}

.autocomp_selected li {
  line-height: 1.42857;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 0;
}

.hinted {
  display: flex;
  flex-direction: column;
}

.hinted > label {
  font-size: 10px;
  margin-top: 2px;
  margin-left: 6px;
}

input.ansList {
  width: 100%;
}

#content {
  padding: 0 1em 1em 1em;
}

.v-box > div:not(:first-child),
.v-box > p:not(:first-child),
#content > p,
#content > div:not(.section),
form > p,
.tab-pane > p {
  margin-top: 10px;
  margin-bottom: 0;
}

#patientsArea > a {
  display: inline-block;
  margin-top: 5px;
  width: auto;
}

.resources-area {
  margin-top: 17px;
}

#content > p:first-child {
  margin-top: 0;
}

th,
td {
  padding: 0 0 0.5em 1em;
  text-align: left;
  vertical-align: top;
}

h1 {
  font-size: 36px;
}
h1,
h2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.1;
  font-weight: 500;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  border-radius: 7px;
  border: 2px solid #17b4e3;
  padding-left: 0.25em;
}

[placeholder] {
  text-overflow: ellipsis;
}

#perPatientPerTest {
  width: 4em;
}

label[for] {
  cursor: pointer;
}

.upload-file-link {
  cursor: pointer;
  color: #337ab7;
}

.upload-file-link:hover {
  text-decoration: underline;
}

input[disabled] + .upload-file-link {
  color: #d2c9c9;
  text-decoration: none;
}

.h-box {
  display: flex;
  align-items: center;
}

.h-box > *:not(:first-child) {
  margin-left: 1em;
}

.radio-option {
  display: flex;
  align-items: center;
}

.radio-option input[type="radio"] {
  margin: 0 0.3em 0 0;
}

/* Styles for the collapsible section */
.section {
  position: relative;
  border: 1px solid #17b4e3;
  border-radius: 7px;
  margin-top: 14px;
  margin-bottom: 7px;
  padding-top: 10px;
  background-color: #fafdff;
}

.section__body > .section {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.section__body > .section > .section__header {
  margin-top: -22px;
  margin-left: 7px;
}

.section__body > .section > .section__header > .section__title {
  padding: 3px 5px 3px 0;
  text-decoration: underline;
}

.section__body > .section > .section__body {
  margin-bottom: 0;
}

.section__body > .section > .section__header > .section__title::before {
  border-width: 0;
  margin-right: 0;
}

.section_collapsed {
  padding: 0;
  margin-top: 14px;
  margin-bottom: 17px;
  height: 1px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-width: 0;
}

.section_collapsed + .section,
.section_collapsed + form {
  margin-top: 25px;
}

.section_collapsed .section__header {
  margin-top: -12px;
}

.section_collapsed .section__toolbar,
.section_collapsed .section__body {
  display: none;
}

.section.section_sticky > .section__header {
  position: sticky;
}

.section__header {
  z-index: 1;
  cursor: pointer;
  width: fit-content;
  margin-top: -22px;
  margin-left: 10px;
  top: 0;
  height: 20px;
}

.section__header .section__title {
  border-style: dotted;
  border-color: transparent;
  border-width: 1px;
  border-radius: 7px;
  cursor: pointer;
}

.section__header:focus {
  outline-style: none;
}

.section__header:focus .section__title {
  border-color: inherit;
}

.section__title {
  background-color: #fff;
  padding: 3px 5px;
  color: #337ab7;
}

.section__title::before {
  content: url("../images/triangle-down.svg");
  margin-right: 5px;
  border: 1px solid #337ab7;
  border-radius: 3px;
}
.section_collapsed .section__title::before {
  content: url(../images/triangle-right.svg);
}

.section__toolbar {
  display: flex;
  flex-direction: row;
  margin: 14px 7px 9px;
}

.section__toolbar > * {
  margin-left: 7px;
}

div.section__body {
  display: flex;
  flex-direction: column;
}

div.section__body > div:not(.search-parameter-list):not(.tabs-component):not(.hide):not(.section) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

div.section__body > table {
  align-self: flex-start;
}

div.section__body > div:not(.search-parameter-list):not(.tabs-component) > label {
  font-weight: bold;
  padding-top: 1px;
}

form:not(.hide-errors) input:invalid:not(:focus) {
  background-color: #ffbebe;
}

form:not(.hide-errors) input:invalid:focus {
  background-color: #fee8e9;
}

.section__body > div:not(.search-parameter-list):not(.tabs-component):not(.section) > *:not(:first-child) {
  margin-left: 1em;
}

div.section__body > div {
  padding: 7px 9px 0;
}

div.section > div.section__body > div:first-child {
  padding-top: 0;
}

.description,
div.section__body > .description {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 0.5em 1em 0.5em;
  color: #337ab7;
  background-color: #ebf5ff;
}

.description::before {
  display: inline-block;
  content: url("../images/info.svg");
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 0.5em;
}

div.section__body > .description {
  margin: 0 9px 0;
}

div.section__body > .description:first-child {
  margin-top: 0;
  padding-top: 0.5em;
}

div.section__body > label {
  padding: 15px 9px 0;
  font-weight: bold;
  text-decoration: underline;
}

div.section__body > .search-parameter > .search-parameter__name {
  flex: 1 1;
  max-width: 30em;
}

div.section__body > .search-parameter > :first-child {
  max-width: 180px;
}

.search-parameter-list.search-parameter-list_one-resource div.section__body > .search-parameter > :first-child {
  display: none;
}

.search-parameter-list.search-parameter-list_one-resource div.section__body > .search-parameter > :nth-child(2) {
  margin-left: 0;
}

div.section__body > .search-parameter > :nth-child(3) {
  flex: 1 1;
  max-width: 30em;
}

div.section__body > .search-parameter_no-resource > :nth-child(2),
div.section__body > .search-parameter_no-resource > :nth-child(3),
div.section__body > .search-parameter_custom > :nth-child(2) {
  display: none;
}

div.section__body > .search-parameter_custom > .search-parameter__content {
  width: 61em;
  max-width: 61em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

div.section__body > .search-parameter_custom > .search-parameter__content > :not(:first-child) {
  margin-left: 1em;
}

div.section__body > .search-parameter_custom > .search-parameter__content > * {
  flex: 1 1;
  max-width: 30em;
}

.search-parameter__content > input[type="text"] {
  width: 100%;
}

.search-parameter__test-value {
  display: flex;
  flex-direction: column;
}

.search-parameter__test-value > :not(:first-child) {
  margin-top: 0.5em;
}

.test-value,
.test-period {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.test-period {
  justify-content: flex-end;
}

.search-parameter__content > :not(.autocomp_selected):not(:last-child),
.test-value > :not(:last-child),
.test-period > :not(:last-child) {
  margin-right: 0.5em;
}

.test-value > input:not(.test-value__prefix):not(.test-value__modifier) {
  flex: 1 1;
}
.test-value > input.test-value__prefix {
  width: 80px;
}
.test-value > input.test-value__modifier {
  width: 110px;
}

div.section__body.obs-parameters > div > :first-child {
  width: 169px;
}

table.section__body {
  border-spacing: 0;
}
.section__body {
  margin: 9px 0 7px;
}
/* End of styles for the collapsible section */

/* Styles used for the display that search parameters are combined with logical AND. */
.search-parameter-list > div.section__body {
  margin: 0 0 7px;
}

.search-parameter-list div.search-parameter {
  padding-left: 0;
}

.search-parameter-list_combined > div.section__body {
  margin: 9px 0 7px;
}

.search-parameter-list_combined div.search-parameter {
  padding-left: 2px;
  margin-left: 29px;
  position: relative;
}

.search-parameter-list__combiner,
.search-parameter-list_empty {
  display: none;
}

.search-parameter-list_combined > .search-parameter-list__combiner {
  display: block;
}

.search-parameter-list_combined > .search-parameter-list__combiner > label {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  border-radius: 7px;
  color: #337ab7;
  border: 2px solid #ccc;
  padding: 0.25em;
}

.search-parameter-list_combined .search-parameter:last-child::before {
  border-radius: 0 0 0 4px;
}

.search-parameter-list_combined .search-parameter:first-child::before {
  top: -6px;
  height: 23px;
}
.search-parameter-list_combined .search-parameter::before {
  top: -1px;
  border-width: 0 0 2px 2px;
}
.search-parameter-list_combined .search-parameter::after {
  top: 18px;
  border-width: 0 0 0 2px;
}

.search-parameter-list_combined .search-parameter::after {
  content: "";
  position: absolute;
  left: -10px;
  width: 10px;
  height: calc(100% - 18px);
  border-color: #ccc;
  border-style: solid;
}

.search-parameter-list_combined .search-parameter::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 10px;
  height: 18px;
  border-color: #ccc;
  border-style: solid;
}

.search-parameter-list_combined .search-parameter:last-child::after {
  display: none;
}
/* End of styles used for the display that search parameters are combined with logical AND. */

/* Styles for the columns dialog */
#columnsModalDialogBody {
  display: flex;
  flex-direction: column;
  max-height: 305px;
  flex-wrap: wrap;
  overflow-x: auto;
}

#columnsModalDialogBody label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#columnsModalDialogBody label {
  margin-bottom: 1em;
  margin-right: 1em;
}

#columnsModalDialogBody label input {
  margin-right: 1em;
}
/* End of styles for the columns dialog */

#load {
  margin-bottom: 0.5em;
}

* {
  box-sizing: border-box;
}

/* Styles for the header */
body {
  margin: 0;
}
#header {
  position: relative;
  font-size: 12px;
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
  color: #202020;
  border-top: 2px solid #0bacb6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}
#logo {
  position: relative;
  top: 5px;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
#logo img {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #0bacb6;
  padding-right: 0.75em;
}
#logo,
#log img {
  display: block;
}
#logo .site-name-slogan {
  font-size: 14px;
  position: relative;
  top: 10px;
  left: -2px;
}
#logo .site-name-slogan span {
  display: block;
  font-size: 24px;
  position: relative;
  left: -2px;
}
#logo .site-name-slogan .slogan {
  color: #202020;
  font-size: 12px;
  position: relative;
  left: 1px;
}
#siteNameBox {
  margin-top: 2.2em;
}
#siteName {
  font-size: 300%;
}
#version {
  float: right;
  padding-right: 1em;
  font-weight: bold;
}
/* End of styles for the header */

/* Styles for the navigation links */
.nav-links {
  border-bottom: 1px solid black;
  background-color: #ebf5ff;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  padding-left: 7px;
  margin-top: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}
.nav-links a.current {
  font-weight: bold;
}
/* End of styles for the navigation links */

.hide {
  display: none;
}

.performance-tuning > div > input {
  width: 100%;
  max-width: 4em;
}

/* Styles for the report popup */
.report-popup {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.report-popup_window {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px 10px 20px 20px;
  border-radius: 7px;
  border: 2px solid #17b4e3;
  width: 500px;
  position: relative;
}

.report-popup_content {
  margin-right: 10px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.report-popup_item {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.report-popup_item:first-child {
  margin-top: 15px;
}
.report-popup_item-space {
  flex: 1 1;
}
.modal-close-btn {
  line-height: 0.7;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: black;
}
/* End of styles for the report popup */

/* Styles to show loading status */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  position: relative;
}
.spinner * {
  visibility: hidden;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

.spinner_left {
  padding-left: 20px;
}

.spinner_left * {
  visibility: inherit;
}

.spinner_left:before {
  left: 10px;
}
/* End of styles to show loading status */

/* Styles for the footer */
#fine-print {
  border-top: 2px solid #0bacb6;
  clear: left;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
ul.horz-list li {
  list-style-type: none;
  display: inline;
  padding-left: 8px;
  padding-right: 10px;
  border-right: 1px solid #999;
}
ul.horz-list li.last-item {
  border-right: none;
}
#usagov {
  vertical-align: bottom;
}
/* Add some space above the footer.  For some reason adding a margin-top
   does not work, perhaps because of a float, so instead we add padding to the
   floated element.
 */
.col-md-9 {
  padding-bottom: 1em;
}

/* End of styles for the footer */
