<p class="info">
  <span class="info-icon" aria-hidden="true"></span>
  In this step, you can search, select, and add records to the cart.
  Records added to the cart will be used to build a cohort of patients.</p>
<p class="info" style="color: blue" *ngIf="!fhirBackend.serviceBaseUrl.startsWith('https://dbgap-api.ncbi.nlm.nih.gov')">
  <span class="info-icon" aria-hidden="true"></span>
  [TODO: Don't know what to show for non dbGap servers. So, for now, we just display the observation table.]
</p>
<mat-form-field class="number-field">
  <mat-label>Maximum number of patients</mat-label>
  <input matInput [formControl]="maxPatientsNumber" type="number" min="1">
</mat-form-field>

<mat-tab-group dynamicHeight class="mat-elevation-z1" (selectedTabChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let resourceType of visibleResourceTypes" [label]="getPluralFormOfResourceType(resourceType)">
    <div class="v-box tab-content">
      <p class="info" *ngIf="resourceType === 'ResearchStudy'">
        <span class="info-icon" aria-hidden="true"></span>
        Select studies to add to the cart.</p>
      <p class="info" *ngIf="resourceType === 'Variable'">
        <span class="info-icon" aria-hidden="true"></span>
        Select variables to add to the cart. The list of variables is limited to studies added to the cart.</p>

      <app-resource-table *ngIf="resourceType !== 'Variable' && selectRecords.currentState[resourceType]"
                          [columnDescriptions]="columnDescriptions.getVisibleColumns(resourceType, 'select') | async"
                          [enableFiltering]="true" [enableSelection]="true"
                          [loading]="selectRecords.currentState[resourceType].loading"
                          [resources]="selectRecords.resourceStream[resourceType] | async"
                          (loadNextPage)="selectRecords.loadNextPage(resourceType)"
                          (selectionChange)="onSelectionChange(resourceType)"
                          [selectAny]="true"
                          context="select"
                          [defaultSort]="sort[resourceType]"
                          (sortChanged)="onSortChanged(resourceType, $event)"
                          [resourceType]="resourceType"></app-resource-table>
      <app-resource-table *ngIf="resourceType === 'Variable' && selectRecords.currentState['Variable']"
                          #variableTable
                          [columnDescriptions]="columnDescriptions.getVisibleColumns('Variable', 'select') | async"
                          (filterChanged)="filterVariables()"
                          [enableFiltering]="true" [enableSelection]="true"
                          [loading]="selectRecords.currentState['Variable'].loading"
                          [resources]="selectRecords.resourceStream['Variable'] | async"
                          [selectAny]="true"
                          context="select"
                          [defaultSort]="sort['Variable']"
                          resourceType="Variable"></app-resource-table>
      <div class="spacer"></div>
      <div class="todo v-box">
        <h4>{{getPluralFormOfResourceType(resourceType)}} in Cart:</h4>
        <label>No {{getPluralFormOfResourceType(resourceType).toLowerCase()}} in the cart. Select the {{getPluralFormOfResourceType(resourceType).toLowerCase()}} for which you want to build a cohort of patients.</label>
        <label style="color: blue">[TODO: this part is not ready]</label>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
