// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
        color: (
                primary: $theme-primary,
                accent: $theme-accent,
                warn: $theme-warn,
        ),
        typography: mat.define-typography-config(
          $font-family: "Roboto,Helvetica Neue,sans-serif",
          $button: mat.define-typography-level(
            $font-size: 16px,
            $line-height: 1,
            $letter-spacing: normal
          )
        )
));

.content {
  @include mat.form-field-density(-4);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

// Override some styles for tab groups
.mat-mdc-tab-group.mat-primary {
  .mat-mdc-tab-header {
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin: 0 -4px;
  }
  .mat-mdc-tab-labels {
    padding-top: 4px;
  }

  .mdc-tab {
    opacity: 1 !important;
    background-color: rgba(197, 202, 233, 0.1);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    margin-left: 4px;

    &, &.mat-mdc-tab .mdc-tab__ripple::before, .mat-mdc-tab-ripple {
      border-top-left-radius: 5px 5px;
      border-top-right-radius: 5px 5px;
    }

    &.mdc-tab--active {
      color: #3f51b5;
      background-color: rgba(197, 202, 233, 0.3);
    }
  }

  .mat-mdc-tab-body-wrapper {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }
}

.mat-mdc-outlined-button {
  &.mat-primary {
    font-weight: bold;
  }

  &:not(:disabled) .mdc-button__label,
  &:not(:disabled) .mat-icon {
    color: #3f51b5;
  }
}
.mat-mdc-mini-fab {
  &:not(:disabled) .mat-icon {
    color: #3f51b5;
    svg {
      fill: #3f51b5
    }
  }

  &.mini-fab-16 {
    width: 16px;
    height: 16px;
    .mat-mdc-button-touch-target {
      height: 20px;
      width: 20px;
    }
  }

  &.mini-fab-32 {
    width: 32px;
    height: 32px;
    line-height: 1;

    .mat-button-wrapper {
      padding: 0;

      .mat-icon {
        font-size: 14px;
      }
    }
  }
}

.mat-icon.mat-icon-22 {
  width: 22px;
  height: 22px;
}

.mat-sort-header-content {
  color: #3f51b5;
}

.mat-sort-header:hover .mat-sort-header-content,
.mat-sort-header.cdk-keyboard-focused .mat-sort-header-content,
.mat-sort-header.cdk-program-focused .mat-sort-header-content {
  text-decoration: underline;
}

.mat-table {
  [mat-sort-header].cdk-keyboard-focused .mat-sort-header-container,
  [mat-sort-header].cdk-program-focused .mat-sort-header-container {
    border-bottom: none;
  }
}
