<form [formGroup]="defineCohortForm">
  <p class="info">
    <span class="info-icon" aria-hidden="true"></span>
    In this step, you can define criteria to build a cohort of patients for which you want
    to pull data, or load a previously saved cohort of patients and the criteria which selected them.
    Criteria can be defined for several types of data records (e.g. "Condition", "Patient", or "Observation")
    and patients will be added to the cohort if the related resources meet the criteria.  Each criteria consists
    of a data record type, a search parameter, and one or more values.</p>
  <mat-form-field class="number-field">
    <mat-label>Maximum number of patients</mat-label>
    <input matInput formControlName="maxPatientsNumber" type="number" min="1">
  </mat-form-field>

  <app-search-parameters #patientParams></app-search-parameters>
</form>
