<form [formGroup]="defineCohortForm">
  <p class="info">
    <span class="info-icon" aria-hidden="true"></span>
    At this step, you can define criteria to build a cohort of Patient
    resources for which you want to pull related resource data,
    or load previously saved cohort of Patients and the criteria which selected them.
    Criteria can be defined not only for the Patient resource but also for related resources.
    Patients will be added to the cohort if the related resources meet the criteria.</p>
  <mat-form-field class="number-field">
    <mat-label>Maximum number of patients</mat-label>
    <input matInput formControlName="maxPatientsNumber" type="number" min="1">
  </mat-form-field>

  <app-search-parameters #patientParams></app-search-parameters>

  <button id="addSearchCriterion" (click)="patientParams.addParameter()" mat-stroked-button color="secondary">
    <mat-icon svgIcon="add"></mat-icon>Add a search criterion
  </button>
</form>
