<query-builder [formControl]="queryCtrl" [config]="queryBuilderConfig">
  <!-- Remove default buttons (empty template) -->
  <ng-container *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
  </ng-container>

  <!-- Prefix for switch group box -->
  <ng-container *querySwitchGroupPrefix="
     let ruleset; let addRule=addRule; let addRuleSet=addRuleSet;
     let handleDataChange=handleDataChange; let removeRuleSet=removeRuleSet">
    <!-- Prefix for the resource criteria -->
    <div class="v-box" *ngIf="ruleset.hasOwnProperty('resourceType')">
      <div class="h-box" >
        <button type="button" mat-icon-button aria-label="Remove search parameter group"
                class="remove-btn"
                (click)="removeRuleSet()">
          <mat-icon svgIcon="clear"></mat-icon>
        </button>
        <app-autocomplete
            class="resource-type"
            label="Record type"
            required
            [options]="resourceTypes$ | async"
            [(ngModel)]="ruleset.resourceType"
            (ngModelChange)="focusOnAddCriterionBtn()"
            *ngIf="!ruleset.resourceType"></app-autocomplete>
        <p *ngIf="ruleset.resourceType && ruleset.resourceType !== 'Patient'">Select Patients which have
          {{getIndefiniteArticle(ruleset.resourceType)}}
          <b>{{ruleset.resourceType}}</b> record that meets the criteria below</p>
        <p *ngIf="ruleset.resourceType === 'Patient'">Select <b>Patients</b> which meet the criteria below</p>
      </div>
    </div>
    <!-- Prefix for the subgroup -->
    <div class="v-box" *ngIf="removeRuleSet && !ruleset.hasOwnProperty('resourceType')">
      <div class="h-box">
        <button type="button" mat-icon-button aria-label="Remove search parameter group"
                class="remove-btn"
                (click)="removeRuleSet()">
          <mat-icon svgIcon="clear"></mat-icon>
        </button>
        <p class="group-header">Subgroup of criteria for record types</p>
      </div>
    </div>
  </ng-container>

  <!-- Suffix for the tree container -->
  <ng-container *queryTreeContainerSuffix="
     let ruleset; let addRule=addRule; let addRuleSet=addRuleSet;
     let handleDataChange=handleDataChange; let removeRuleSet=removeRuleSet">
    <!-- Add buttons for the root block -->
    <div class="v-box" *ngIf="!removeRuleSet">
      <div class="spacer" *ngIf="ruleset.rules?.length"></div>
      <div class="h-box">
        <button type="button"
                (click)="addResourceType(ruleset); handleDataChange();" mat-stroked-button color="secondary">
          <mat-icon svgIcon="add"></mat-icon>Add criteria for a record type
        </button>
        <div class="spacer"></div>
        <button type="button"
                (click)="addRuleSet()" mat-stroked-button color="secondary">
          <mat-icon svgIcon="add"></mat-icon>Add a subgroup of record types and criteria
        </button>
      </div>
    </div>
    <!-- Add button for the resource criteria -->
    <div class="v-box" *ngIf="ruleset.hasOwnProperty('resourceType')">
      <div class="spacer" *ngIf="ruleset.resourceType && ruleset.rules.length"></div>
      <div class="h-box">
        <button type="button" *ngIf="ruleset.resourceType"
                #addCriterionBtn
                (click)="addRule()" mat-stroked-button color="secondary">
          <mat-icon svgIcon="add"></mat-icon>Add a criterion for the {{ruleset.resourceType}} record
        </button>
      </div>
    </div>
    <!-- Add button for the subgroup -->
    <div class="v-box" *ngIf="removeRuleSet && !ruleset.hasOwnProperty('resourceType')">
      <div class="spacer" *ngIf="ruleset.rules.length"></div>
      <div class="h-box">
        <button type="button"
                (click)="addResourceType(ruleset); handleDataChange();" mat-stroked-button color="secondary">
          <mat-icon svgIcon="add"></mat-icon>Add criteria for a record type
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *queryRemoveButton="let rule; let removeRule=removeRule">
    <button type="button" mat-icon-button aria-label="Remove search parameter"
            class="remove-btn"
            (click)="removeRule(rule)">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </ng-container>

  <!-- Search parameter name selector -->
  <ng-container *queryField="let rule; let fields=fields;  let parentRuleSet=parentRuleSet; let onChange=onChange; let getFields = getFields">
    <app-search-parameter [(ngModel)]="rule.field" [resourceType]="parentRuleSet.resourceType"
                          (ngModelChange)="updateSelectedSearchParameterNames(parentRuleSet)"
                          [selectedSearchParameterNames]="selectedSearchParameterNamesMap.get(parentRuleSet)">
    </app-search-parameter>
  </ng-container>
  <ng-container *queryOperator="let rule; let operators=operators; let onChange=onChange">
  </ng-container>
  <ng-container *queryInput="let rule; type: 'search-parameter'; let getDisabledState=getDisabledState">
  </ng-container>
</query-builder>
