.resource-type {
  width: 210px;
}
.search-parameter-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  & app-search-parameter-group {
    flex: 1 1;
  }

  & .mat-icon-button:not(:hover) mat-icon {
    opacity: .4;
  }

  & button {
     margin-top: 0.4em;
  }
}

query-builder {
  margin-bottom: 20px;
}

.remove-btn {
  margin-top: 0.4em;
}

.group-header {
  font-weight: bold;
}

:host query-builder ::ng-deep {
  .q-connector {
    &::before, &::after {
      border-color: rgb(97, 158, 215);
    }
    &::before {
      border-width: 0 0 1px 1px;
    }
    &::after {
      border-width: 0 0 0 1px;
    }
  }

  .q-tree-container query-builder.q-one-rule > .q-tree-container {
    margin-top: -9px;
    & > .q-tree {
      padding-left: 30px;
      & >  .q-connector::before {
        left: -12px;
        width: 10px;
      }
    }
  }

  .q-tree-container .q-tree {
    margin: 0;
    padding-left: 45px;

    .q-row {
      border-radius: 4px;
    }

    .q-row .q-button-group.q-right-align {
      float: left;
    }

    .autocomplete-disabled {
      font-weight: bold;
    }

    .q-rule.q-row {
      border-color: #fff;
      padding: 0;

      &.q-connector::before {
        height: 33px;
      }

      &.q-connector::after {
        top: 34px;
        height: calc(100% - 33px);
      }

      .condition-label {
        top: 19px;
      }

    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }

    .q-connector::before {
      top: -7px;
      left: -24px;
      height: 39px;
      width: 22px;
    }

    .q-connector::after {
      top: 40px;
      left: -24px;
      height: calc(100% - 39px);
    }
  }
}

:host query-builder.q-one-rule ::ng-deep {
  & > .q-tree-container > .q-tree {
    padding-left: 0;
  }
}

.q-switch-group {
  :first-child .q-switch-label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  :last-child .q-switch-label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.q-switch-label {
  float: left;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  .q-switch-radio:checked + &,
  &:first-child {
    border: 1px solid rgb(97, 158, 215);
    background: white;
    color: rgb(49, 118, 179);
  }

  background-color: #e4e4e4;
  padding: 0 8px;
}

.q-switch-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;

  &:not(:checked) + .q-switch-label:hover {
    cursor: pointer;
    background-color: #F0F0F0;
  }

  &:focus + .q-switch-label {
    text-decoration: underline;
    text-decoration-color: #619ed7;
    text-decoration-thickness: 2px;
  }
}

.condition-label {
  position: absolute;
  left: -37px;
  top: 25px;
  width: 26px;
  font-size: 0.6em;
  border: 1px solid rgb(97, 158, 215);
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  text-align: center;
  text-transform: uppercase;
}

