<div *ngFor="let item of parameterGroupList.controls" class="search-parameter-group">
  <button type="button" mat-icon-button aria-label="Remove search parameter group"
          (click)="removeParameterGroup(item)">
    <mat-icon svgIcon="clear"></mat-icon>
  </button>

  <app-search-parameter-group [formControl]="item"></app-search-parameter-group>
</div>

<button id="addResourceType"
        type="button"
        (click)="addParameterGroup()" mat-stroked-button color="secondary">
  <mat-icon svgIcon="add"></mat-icon>Add a resource type
</button>
