<div id="header">
  <div id="lhc-logo">
    <a href="https://lhncbc.nlm.nih.gov" title="Lister Hill National Center for Biomedical Communications">
      <img src="/assets/LHNCBC_white.svg" alt="NIH/NLM/LHNCBC logo"/>
    </a>
  </div>
  <a href="http://lhncbc.nlm.nih.gov" title="Lister Hill Center" id="logo">
    <img src="assets/lhncbc.jpg" alt="Lister Hill Center" />
  </a>
  <div id="siteNameBox">
    <span id=siteName>FHIR Research Data Finder</span><br>
    <span id=tagline>An <a
      href="https://github.com/lhncbc/fhir-obs-viewer">open source</a> viewer
         for FHIR Observations from the National Library of Medicine</span>
    <div id="version">Version: <a target="_blank" rel="noopener noreferrer"
                                  href="https://github.com/lhncbc/fhir-obs-viewer/blob/master/CHANGELOG.md">{{version}}</a></div>
  </div>
</div>
<!-- end page header -->
<ul class="nav-links horz-list">
  <li><a id="fhirLink" class=current href="https://lhcforms.nlm.nih.gov">FHIR Tools</a></li><!--
      --><li><a href="https://lhcforms.nlm.nih.gov/lhcforms">LHC-Forms Demo</a></li><!--
      --><li><a href="https://lhcformbuilder.nlm.nih.gov" target="_blank" rel="noopener noreferrer">Form Builder</a></li><!--
      --><li><a href="https://clinicaltables.nlm.nih.gov"
                target="_blank" rel="noopener noreferrer">Clinical Table Search
  Service</a></li><!--
      --><li class="last-item"><a id="sdcPageLink" href="https://lhcforms.nlm.nih.gov/sdc">FHIR SDC SMART App</a></li>
</ul>

<div class="content" role="main">
  <app-stepper></app-stepper>
</div>

<!-- page footer -->
<div id="fine-print">
  <ul class="horz-list">
    <li><a title="NLM copyright information"  href="http://www.nlm.nih.gov/copyright.html">Copyright</a></li>
    <li><a title="NLM privacy policy" href="http://www.nlm.nih.gov/privacy.html">Privacy</a></li>
    <li><a title="NLM accessibility" href="http://www.nlm.nih.gov/accessibility.html" >Accessibility</a></li>
    <li><a title="NIH Freedom of Information Act office"  href="http://www.nih.gov/icd/od/foia/index.htm"
    >Freedom of Information Act</a></li>
    <li class="last-item"><a title="USA.gov" href="http://www.usa.gov/"><img
      src="assets/USAgov.gif" alt="USA.gov" id="usagov"></a></li>
  </ul>
  <ul class="horz-list">
    <li><a title="U.S. National Library of Medicine" href="http://www.nlm.nih.gov/"
    >U.S. National Library of Medicine</a></li>
    <li><a title="U.S. National Institutes of Health" href="http://www.nih.gov/"
    >U.S. National Institutes of Health</a></li>
    <li class="last-item"><a title="U.S. Department of Health and Human Services"  href="http://www.hhs.gov/"
    >U.S. Department of Health and Human Services</a></li>
  </ul>
</div>
<!-- end page footer -->
