<ng-container *ngIf="prefixTemplate as template">
  <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
</ng-container>

<mat-progress-bar
    *ngIf="loading"
    [mode]="(progressBarPosition$ | async) > 0 ? 'determinate' : 'indeterminate'"
    [value]="progressBarPosition$ | async">
</mat-progress-bar>
<ng-container *ngIf="headerTemplate as template; else defaultTitle">
  <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
</ng-container>
<ng-template #defaultTitle>
  <mat-accordion>
    <mat-expansion-panel hideToggle #panel>
      <mat-expansion-panel-header
          [class.default-cursor]="!loadingStatistics.length"
          (click)="!loadingStatistics.length && panel.toggle()"
          (keydown.enter)="!loadingStatistics.length && panel.toggle()"
          (keydown.space)="!loadingStatistics.length && panel.toggle()">
        <mat-panel-title>
        <span *ngIf="resourceType === 'Patient' && !loading; else countTemplate">
          Cohort of&nbsp;{{dataSource.data.length}} {{resourceType}} resources
        </span>
          <ng-template #countTemplate>
            <span>{{countMessage}}</span>
          </ng-template>
        </mat-panel-title>
        <mat-panel-description>
          <span *ngIf="loading; else loadedTemplate">
            <span>{{loadingMessage}}</span>
          </span>
          <ng-template #loadedTemplate>
            <span *ngIf="externalLoadedDateTime && externalLoadTime || loadedDateTime && loadTime">Data loaded on {{externalLoadedDateTime || loadedDateTime | date: 'short'}} in {{externalLoadTime || loadTime}} seconds</span>
            <span *ngIf="loadingStatistics?.length">&nbsp;(click to view/hide details)</span>
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table *ngIf="loadingStatistics?.length" id="loadingStatistics">
        <tr *ngFor="let row of loadingStatistics">
          <td *ngFor="let item of row">{{item}}</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<div class="container" *ngIf="this.dataSource.data.length > 0 || context === 'browse' || context === 'select'">
  <div class="buttons-container">
  <ng-container *ngIf="buttonPrefixTemplate as template">
    <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
  </ng-container>

  <button mat-mini-fab
          color="basic"
          [disabled]="loading || !(enableFiltering ? dataSource.filteredData : dataSource.data).length"
          (click)="downloadCsv()"
          aria-label="Download (in CSV format)"
          matTooltip="Download (in CSV format)">
    <mat-icon svgIcon="file_download"></mat-icon>
  </button>

  <button mat-mini-fab
          color="basic"
          type="button"
          (click)="columnDescriptionsService.openColumnsDialog(resourceTypeColumns || resourceType, context)"
          aria-label="Configure table"
          matTooltip="Configure table">
    <mat-icon svgIcon="settings"></mat-icon>
  </button>
  <button mat-mini-fab
          color="basic"
          [matTooltip]="fullscreen ? 'Exit full screen mode' : 'Expand the table to full screen'"
          [attr.aria-label]="fullscreen ? 'Exit full screen mode' : 'Expand the table to full screen'"
          (click)="toggleFullscreen()">
    <mat-icon [svgIcon]="fullscreen ? 'fullscreen_exit_black' : 'fullscreen_black'"></mat-icon>
  </button>
  </div>
  <cdk-virtual-scroll-viewport tvsItemSize
                               class="table-container mat-elevation-z4"
                               #viewport
                               [class.table-container-with-prefix]="!!prefixTemplate"
                               [class.empty-table]="dataSource.data.length === 0"
                               (scroll)="onScroll()">
    <table mat-table matSort matSortDisableClear matSortStart='asc'
           [dataSource]="dataSource"
           [matSortActive]="sort?.active" [matSortDirection]="sort?.direction"
           class="cell-text-no-wrap"
           [class.highlightable]="highlightSelection"
           (matSortChange)="sortData($event)"
           [attr.aria-rowcount]="dataSource.data.length+1">
      <!-- Select checkbox column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="cell-with-icon" width="28">
          <mat-checkbox *ngIf="!selectAny"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selectedResources.hasValue() && isAllSelected()"
                        [indeterminate]="selectedResources.hasValue() && !isAllSelected()"
                        matTooltip='Select/Unselect all'>
          </mat-checkbox>
          <button type="button" mat-icon-button
                  *ngIf="selectAny"
                  class="clear-btn"
                  (click)="clearSelection()"
                  [disabled]="!this.selectedResources.selected.length"
                  matTooltip="Clear selection">
            <mat-icon svgIcon="remove_done_black"></mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-with-icon">
          <mat-checkbox *ngIf='selectAny || myStudyIds.includes(row.resource.id)'
                        (click)="checkboxClick($event, row)"
                        (change)="$event ? selectedResources.toggle(row.resource) : null"
                        [checked]="selectedResources.isSelected(row.resource)"
                        [attr.aria-label]="checkboxTooltipText"
                        [matTooltip]="checkboxTooltipText">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Data Columns -->
      <ng-container *ngFor="let column of columnDescriptions; let i=index;"
                    [matColumnDef]="column.element">
        <ng-container *ngIf="isSortable(column); else noSort">
          <th mat-header-cell *matHeaderCellDef [attr.role]="'none'">
            <div class="header-container header-container_sort" [class.col-with-action]="i === 0 && rowActionTemplate">
              <span mat-sort-header
                    arrowPosition="before"
                    aria-label=""
                    role="columnheader"
                    matTooltip='click on header to sort by this column'>
                {{column.displayName}}
              </span>
              <button *ngIf='column.description'
                      [attr.aria-label]="'info for the ' + column.displayName + ' column'"
                      type="button" mat-mini-fab class="mini-fab-16"
                      color="basic"
                      #tooltip="matTooltip"
                      (click)="onInfoIconClick($event, tooltip)"
                      (keydown.enter)="onInfoIconClick($event, tooltip)"
                      (keydown.space)="onInfoIconClick($event, tooltip)"
                      [matTooltip]='column.description'
                      matTooltipPosition='above'>
                <mat-icon svgIcon='info'></mat-icon>
              </button>
              <button *ngIf='enableFiltering && column.filterable !== false'
                      [attr.aria-label]="'open filter criteria for the ' + column.displayName + ' column'"
                      type="button" mat-mini-fab class="mini-fab-16"
                      color="basic"
                      matTooltip='open filter criteria for this column'
                      (click)='openFilterDialog($event, column)'
                      (keydown.enter)='openFilterDialog($event, column)'
                      (keydown.space)='openFilterDialog($event, column)'>
                <mat-icon
                    [svgIcon]="hasFilter(column.element) ? 'filter_filled' : 'filter_outlined'"></mat-icon>
              </button>
            </div>
          </th>
        </ng-container>
        <ng-template #noSort>
          <th mat-header-cell *matHeaderCellDef [attr.role]="'none'">
            <div class="header-container header-container_no-sort" [class.col-with-action]="i === 0 && rowActionTemplate">
              <span role="columnheader">
                {{column.displayName}}
              </span>
              <button *ngIf='column.description'
                      type="button" mat-mini-fab class="mini-fab-16"
                      color="basic"
                      [attr.aria-label]="'info for the ' + column.displayName + ' column'"
                      #tooltip="matTooltip"
                      (click)="onInfoIconClick($event, tooltip)"
                      (keydown.enter)="onInfoIconClick($event, tooltip)"
                      (keydown.space)="onInfoIconClick($event, tooltip)"
                      [matTooltip]='column.description'
                      matTooltipPosition='above'>
                <mat-icon svgIcon='info'></mat-icon>
              </button>
              <button *ngIf='enableFiltering'
                      [attr.aria-label]="'open filter criteria for the ' + column.displayName + ' column'"
                      type="button" mat-mini-fab class="mini-fab-16"
                      color="basic"
                      matTooltip='open filter criteria for this column'
                      (click)='openFilterDialog($event, column)'
                      (keydown.enter)='openFilterDialog($event, column)'
                      (keydown.space)='openFilterDialog($event, column)'>
                <mat-icon
                    [svgIcon]="hasFilter(column.element) ? 'filter_filled' : 'filter_outlined'"></mat-icon>
              </button>
            </div>
          </th>
        </ng-template>

        <td mat-cell *matCellDef="let row">
          <div class="h-box">
            <ng-container *ngIf="i === 0 && rowActionTemplate as template">
              <ng-container
                  *ngTemplateOutlet="template; context: {templateContext, row}"></ng-container>
            </ng-container>
            <app-ellipsis-text
                [class.has-a-preceding-button]="rowActionTemplate">{{row.cells[column.element]}}</app-ellipsis-text>
          </div>
        </td>
      </ng-container>

      <tr class="mat-mdc-row" *matNoDataRow>
        <ng-container *ngIf="!loading">
          <td class="mat-mdc-cell" [attr.colspan]="(columnDescriptions?.length || 0) + 1">
            <ng-container *ngIf="hasFilters(); else noFiltersBlock">
              There are no records for the selected filters.
              <span id="clearFilters"
                   (click)="clearColumnFilters()"
                   (keydown.enter)="clearColumnFilters()"
                   tabIndex="0"
                   role="link"
              >Clear all filters</span>
            </ng-container>
            <ng-template #noFiltersBlock [ngSwitch]="rasToken.rasTokenValidated || fhirBackend.smartConnectionSuccess">
              <ng-container *ngSwitchCase="true">
                There are no records available to the current user.
              </ng-container>
              <ng-container *ngSwitchCase="false">
                {{context === 'browse' ? 'There are no public records.' : 'No records were found.'}}
              </ng-container>
            </ng-template>
          </td>
        </ng-container>
      </tr>

      <!-- TODO: replace with https://github.com/swimlane/ngx-datatable to support IE11 or find another way to support sticky header -->
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"
          aria-rowindex="1"></tr>
      <tr mat-row
          *matRowDef="let row; let i=index; columns: columns;"
          [attr.aria-rowindex]="viewport.getRenderedRange().start + i + 2"
          [class.anchor-row]="isLastSelected(row)"
          [class.highlight]="highlightSelection && selectedResources.isSelected(row.resource)"
          (mousedown)="onRowMouseDown($event, row)"></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
