<div class="table-container mat-elevation-z4">
  <mat-table [dataSource]="dataSource" [formGroup]="filtersForm">
    <!-- Select checkbox column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selectedResources.hasValue() && isAllSelected()"
                      [indeterminate]="selectedResources.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" id="{{row.resource.id}}">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selectedResources.toggle(row) : null"
                      [checked]="selectedResources.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Data Columns -->
    <ng-container *ngFor="let column of columnDescriptions" [matColumnDef]="column.element">
      <mat-header-cell *matHeaderCellDef> {{column.displayName}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getCellDisplay(element, column)}} </mat-cell>
    </ng-container>

    <!-- Filter columns -->
    <ng-container matColumnDef="selectFilter">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button (click)="clearColumnFilters()">Clear column filters</button>
      </mat-header-cell>
    </ng-container>
    <ng-container *ngFor="let column of columnDescriptions" [matColumnDef]="column.element + 'Filter'">
      <mat-header-cell *matHeaderCellDef>
        <input matInput [formControlName]="column.element" [placeholder]="'Search ' + column.displayName" />
      </mat-header-cell>
    </ng-container>

    <!-- TODO: replace with https://github.com/swimlane/ngx-datatable to support IE11 or find another way to support sticky header -->
    <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
    <mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
</div>
<mat-spinner *ngIf="isLoading" style="margin:0 auto;"></mat-spinner>
<p>
  Selected {{selectedResources.selected.length}} out of {{dataSource.data.length}}.
</p>
