.container {
  position: relative;
}

.table-container {
  position: relative;
  height: 100%;
  overflow: auto;
  max-height: 300px;
  margin-top: 6px;
}

.container .mat-spinner {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}

td.mat-cell, th.mat-header-cell, td.mat-footer-cell {
  padding-right: 5px;
}

td.mat-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}

th.mat-header-cell:not(.cell-with-icon) {
  min-width: 90px;
}

th button[mat-icon-button] {
  margin-left: -12px;
}
