<h2 mat-dialog-title>
  Configure {{resourceType}} table
</h2>
<hr />
<mat-dialog-content>
  <p>Select columns to show:</p>
  <p class="info">
    <span class="info-icon" aria-hidden="true"></span>
    If no columns are selected, the default columns will be displayed.
  </p>

  <ul>
    @for (x of (columns$ | async); track x) {
      <li>
        <mat-checkbox [(ngModel)]="x.visible">
          {{x.displayName}}
        </mat-checkbox>
      </li>
    }
  </ul>
</mat-dialog-content>
<hr />
<div class="h-box">
  <button id="clearSelection" (click)="clearSelectionWithAnnouncement()">Clear columns selection</button>
  <div class="flex"></div>
  <button mat-raised-button  (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="save()">Save changes</button>
</div>
