<h2 mat-dialog-title>
  Configure {{resourceType}} table
</h2>
<hr />
<mat-dialog-content>
  <p>Select columns to show:</p>
  <p class="info">
    <span class="info-icon" aria-hidden="true"></span>
    If no columns are selected, the default columns will be displayed.
  </p>

  <ul>
    <li *ngFor="let x of (getColumns() | async)">
      <mat-checkbox [(ngModel)]="x.visible">
        {{x.displayName}}
      </mat-checkbox>
    </li>
  </ul>
</mat-dialog-content>
<hr />
<div>
  <button id="clearSelection" (click)="clearSelection()">Clear columns selection</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save changes</button>
  <button class="mat-raised-button" (click)="close()">Close</button>
</div>
