<p class="info">
  <span class="info-icon" aria-hidden="true"></span>
  This is a tool that allows you to view a FHIR server's resources.
</p>
<mat-horizontal-stepper linear="true" #stepper>

  <mat-step [stepControl]="settings" label="Settings" state="edit">
    <div class="v-box">
      <app-settings-page [formControl]="settings"></app-settings-page>
      <div class="spacer"></div>
      <div class="h-box">
        <button mat-stroked-button color="primary" matStepperNext>
          Define cohort<mat-icon aria-hidden="false" svgIcon="keyboard_arrow_right"></mat-icon>
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="defineCohort" label="Define cohort">
    <div class="v-box">
      <app-define-cohort-page
        [formControl]="defineCohort"
        #defineCohortComponent></app-define-cohort-page>
      <div class="h-box">
        <button mat-stroked-button color="primary" matStepperPrevious>
          <mat-icon aria-hidden="false" svgIcon="keyboard_arrow_left"></mat-icon>Settings
        </button>
        <div class="spacer"></div>
        <button (click)="defineCohortComponent.addParameter()" mat-stroked-button color="secondary">
          <mat-icon aria-hidden="false" svgIcon="add"></mat-icon>Add a search criterion
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="secondary">
          <mat-icon aria-hidden="false" svgIcon="upload"></mat-icon>Load cohort and criteria
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="primary" matStepperNext>
          Search for Patients<mat-icon aria-hidden="false" svgIcon="keyboard_arrow_right"></mat-icon>
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step label="View cohort">
    <div class="v-box">
      <app-view-cohort-page *ngIf="serverInitialized" [max]="defineCohortComponent.defineCohortForm.get('maxPatientsNumber').value"
                            [columnDescriptions]="visibleColumns">
      </app-view-cohort-page>
      <div class="spacer"></div>
      <div class="h-box">
        <button mat-stroked-button color="primary" matStepperPrevious>
          <mat-icon aria-hidden="false" svgIcon="keyboard_arrow_left"></mat-icon>Define cohort
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="secondary">
          <mat-icon aria-hidden="false" svgIcon="save"></mat-icon>Save the cohort and criteria for later
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="secondary">
          <mat-icon aria-hidden="false" svgIcon="refresh"></mat-icon>Reload
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="secondary" (click)="openColumnsDialog()">
          <mat-icon aria-hidden="false" svgIcon="create"></mat-icon>Configure columns
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="primary" matStepperNext>
          Pull data for the cohort<mat-icon aria-hidden="false" svgIcon="keyboard_arrow_right"></mat-icon>
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Pull data for the cohort">
    <div class="v-box">
      <app-pull-data-page></app-pull-data-page>
      <div class="spacer"></div>
      <div class="h-box">
        <button mat-stroked-button color="primary" matStepperPrevious>
          <mat-icon aria-hidden="false" svgIcon="keyboard_arrow_left"></mat-icon>View cohort
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button color="secondary">
          <mat-icon aria-hidden="false" svgIcon="file_download"></mat-icon>Download(in CSV format)
        </button>
        <div class="spacer"></div>
      </div>
    </div>
  </mat-step>

  <ng-template matStepperIcon="edit">
    <mat-icon svgIcon="create"></mat-icon>
  </ng-template>
</mat-horizontal-stepper>
