<form [formGroup]="form">
  <div class="test-value">
    <button type='button' mat-icon-button aria-label='Add the other end of the range'
            *ngIf="showAddLineButton"
            (click)='addLine()'>
      <mat-icon svgIcon='add'></mat-icon>
    </button>
    <mat-form-field *ngIf="!datatype" class="comparator">
      <mat-label>Comparator</mat-label>
      <mat-select [(ngModel)]="testValueComparator" [ngModelOptions]="{standalone: true}">
        <mat-optgroup label="numeric comparators">
          <mat-option *ngFor="let option of typeDescriptions.Quantity.searchValPrefixes"
                      (click)="setSelectedDatatype('Quantity')"
                      [value]="'Quantity - ' + option[1]">{{option[0]}}</mat-option>
        </mat-optgroup>
        <mat-optgroup label="string comparators">
          <mat-option *ngFor="let option of typeDescriptions.String.modifiers"
                      (click)="setSelectedDatatype('String')"
                      [value]="'String - ' + option[1]">{{option[0]}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="datatype && typeDescriptions[datatype].searchValPrefixes" class="comparator">
      <mat-label>Comparator</mat-label>
      <mat-select formControlName="testValuePrefix">
        <mat-option *ngFor="let option of typeDescriptions[datatype].searchValPrefixes"
                    [value]="option[1]">{{option[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="datatype && typeDescriptions[datatype].modifiers" class="comparator">
      <mat-label>Comparator</mat-label>
      <mat-select formControlName="testValueModifier">
        <mat-option *ngFor="let option of typeDescriptions[datatype].modifiers"
                    [value]="option[1]">{{option[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="value">
      <mat-label>Test value</mat-label>
      <ng-container [ngSwitch]="selectedDatatype">
        <app-autocomplete-parameter-value
            *ngSwitchCase="'CodeableConcept'"
            formControlName="testValue" placeholder="Select one or more"
            resourceType="Observation"
            [observationCodes]="observationCodes"
            columnName="value"
            expression="value"
            searchParameter="value-concept">
        </app-autocomplete-parameter-value>
        <input *ngSwitchCase="'Quantity'" type="number" step="any" matInput formControlName="testValue"
               autocomplete="off"
               placeholder="enter number value">
        <input *ngSwitchDefault type="text" matInput formControlName="testValue"
               placeholder="enter string value">
      </ng-container>
    </mat-form-field>
    <mat-form-field *ngIf="typeDescriptions[selectedDatatype].unit" class="unit">
      <mat-label>Test value unit</mat-label>
      <ng-container [ngSwitch]="unitList?.length > 0 ? 1 : unitList?.length === 0 ? 2 : 3">
        <app-autocomplete
            *ngSwitchCase="1"
            [matchListValue]="false"
            [options]="unitList"
            formControlName="testValueUnit"></app-autocomplete>
        <input matInput type="text" readonly *ngSwitchCase="2" value="{{form.get('testValueUnit').value || 'Unknown unit'}}">
        <app-observation-test-value-units
            *ngSwitchDefault
            formControlName="testValueUnit"
            [loincCodes]="loincCodes"
            placeholder="unit code">
        </app-observation-test-value-units>
      </ng-container>
    </mat-form-field>
  </div>

  <div class="test-value" *ngIf="hasSecondLine">
    <button type='button' mat-icon-button aria-label='Remove this end of the range'
            (click)='removeLine()'>
      <mat-icon svgIcon='clear'></mat-icon>
    </button>
    <mat-form-field class="comparator">
      <mat-label>Comparator</mat-label>
      <mat-select formControlName="testValuePrefix2">
        <mat-option *ngFor="let option of rangeComparatorOptions[prefixControlValue]"
                    [value]="option[1]">{{option[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="value">
      <mat-label>Test value</mat-label>
        <input type="number" step="any" matInput
               formControlName="testValue2"
               autocomplete="off"
               placeholder="enter number value">
    </mat-form-field>
  </div>
</form>
