.test-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

mat-form-field {
  flex: 1 1;
  &:not(:first-child) {
    margin-left: 16px;
  }
  &.comparator {
    max-width: 130px;
  }
  &.value {
    min-width: 135px;
  }
  &.unit {
    max-width: 135px;
  }
}
