<form [formGroup]="form">
  <div class="test-value">
    <mat-form-field *ngIf="typeDescriptions[datatype].searchValPrefixes">
      <mat-label>Comparator</mat-label>
      <mat-select formControlName="testValuePrefix">
        <mat-option *ngFor="let option of typeDescriptions[datatype].searchValPrefixes"
                    [value]="option[1]">{{option[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="typeDescriptions[datatype].modifiers">
      <mat-label>Comparator</mat-label>
      <mat-select formControlName="testValueModifier">
        <mat-option *ngFor="let option of typeDescriptions[datatype].modifiers"
                    [value]="option[1]">{{option[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Test value</mat-label>
      <ng-container [ngSwitch]="datatype">
        <app-autocomplete-parameter-value
            *ngSwitchCase="'CodeableConcept'"
            formControlName="testValue" placeholder="Select one or more"
            resourceType="Observation"
            [observationCodes]="observationCodes"
            searchParameter="value-concept">
        </app-autocomplete-parameter-value>
        <input *ngSwitchCase="'Quantity'" type="number" step="any" matInput formControlName="testValue"
               placeholder="enter number value">
        <input *ngSwitchDefault type="text" matInput formControlName="testValue"
               placeholder="enter string value">
      </ng-container>
    </mat-form-field>

    <mat-form-field *ngIf="typeDescriptions[datatype].unit">
      <mat-label>Test value unit</mat-label>
      <app-observation-test-value-units
          formControlName="testValueUnit"
          [loincCodes]="loincCodes"
          placeholder="unit code">
      </app-observation-test-value-units>
    </mat-form-field>
  </div>
</form>
