<div class="search-parameter">
  <app-autocomplete
      #searchParamName
      class="parameter-name"
      label="Search parameter name"
      required
      [options]="parameterOptions"
      [formControl]="parameterName"></app-autocomplete>

  <ng-container *ngIf="selectedParameter && selectedParameter.element !== OBSERVATIONBYTEST">
    <ng-container [ngSwitch]="selectedParameter.type">

      <mat-radio-group *ngSwitchCase="'boolean'" class="parameter-value" aria-label="Select a boolean value" [formControl]="parameterValue">
        <mat-radio-button value="true" aria-label="true">true</mat-radio-button>
        <mat-radio-button value="false" aria-label="false">false</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="parameter-value"
        *ngSwitchCase="useLookupParamValue ? selectedParameter.type : ''">
        <mat-label>Search parameter value</mat-label>
        <app-autocomplete-test-value
          [options]="parameterValues" [formControl]="parameterValue" placeholder="Select one or more">
        </app-autocomplete-test-value>
      </mat-form-field>

      <app-dates-from-to *ngSwitchCase="'date'" [formControl]="parameterValue" class="parameter-value"></app-dates-from-to>

      <app-observation-test-value *ngSwitchCase="'Quantity'" class="parameter-value" [formControl]="parameterValue"
                                  datatype="Quantity">
      </app-observation-test-value>

      <mat-form-field *ngSwitchDefault class="parameter-value">
        <mat-label>Search parameter value</mat-label>
        <input matInput [formControl]="parameterValue" [placeholder]="selectedParameter.description">
      </mat-form-field>

    </ng-container>
  </ng-container>

  <mat-form-field class="flex" *ngIf="selectedParameter?.element === OBSERVATIONBYTEST">
    <mat-label>Observation codes from FHIR server</mat-label>
    <app-observation-code-lookup
      [formControl]="selectedObservationCodes"
      placeholder="Type and select one or more">
    </app-observation-code-lookup>
  </mat-form-field>

  <app-observation-test-value class="parameter-value" [formControl]="parameterValue" [datatype]="selectedObservationCodes.value?.datatype"
                  [loincCodes]="loincCodes"
                  *ngIf="!isPullData && selectedParameter?.element === OBSERVATIONBYTEST && selectedObservationCodes.value?.datatype">
  </app-observation-test-value>

</div>
