<div class="search-parameter">
  @if (!isPullData) {
    <mat-form-field class="parameter-name">
      <mat-label>Search parameter name</mat-label>
      <app-autocomplete #searchParamName [options]="parameterOptions" [formControl]="parameterName"></app-autocomplete>
    </mat-form-field>
  }

  @if (resourceType === EVIDENCEVARIABLE && selectedParameter) {
    <mat-form-field class="parameter-value">
      <mat-label>Search parameter value</mat-label>
      <app-autocomplete-parameter-value
        [resourceType]="EVIDENCEVARIABLE"
        [formControl]="parameterValue" placeholder="Select one or more"
        [searchParameter]="parameterName.value">
      </app-autocomplete-parameter-value>
    </mat-form-field>
  }

  @if (resourceType !== EVIDENCEVARIABLE && selectedParameter && selectedParameter.element !== CODETEXT && selectedParameter.element !== OBSERVATION_VALUE) {
    @switch (selectedParameter.type) {
      @case ('boolean') {
        <mat-radio-group class="parameter-value" aria-label="Select a boolean value" [formControl]="parameterValue">
          <mat-radio-button value="true" aria-label="true">true</mat-radio-button>
          <mat-radio-button value="false" aria-label="false">false</mat-radio-button>
        </mat-radio-group>
      }
      @case (useLookupParamValue ? selectedParameter.type : '') {
        <mat-form-field class="parameter-value"
          >
          <mat-label>Search parameter value</mat-label>
          <app-autocomplete-parameter-value
            [options]="parameterValues" [formControl]="parameterValue"
            placeholder="Select one or more"
            [resourceType]="resourceType"
            [searchParameter]="selectedParameter.element"
            [columnName]="selectedParameter.rootPropertyName"
            [expression]="selectedParameter.expression">
          </app-autocomplete-parameter-value>
        </mat-form-field>
      }
      @case ('date') {
        <app-dates-from-to [formControl]="parameterValue"
        class="parameter-value"></app-dates-from-to>
      }
      @case ('Quantity') {
        <app-search-parameter-value
          class="parameter-value"
          [formControl]="parameterValue"
          datatype="Quantity"
          [valuePlaceholderText]="selectedParameter.description">
        </app-search-parameter-value>
      }
      @case ('string') {
        <app-search-parameter-value
          class="parameter-value"
          [formControl]="parameterValue"
          datatype="String"
          [valuePlaceholderText]="selectedParameter.description">
        </app-search-parameter-value>
      }
      @default {
        <mat-form-field class="parameter-value">
          <mat-label>Search parameter value</mat-label>
          <input matInput [formControl]="parameterValue"
            [placeholder]="selectedParameter.description">
        </mat-form-field>
      }
    }
  }

  @if (selectedParameter?.element === CODETEXT) {
    <mat-form-field class="flex">
      <mat-label>{{resourceType}} codes from FHIR server</mat-label>
      @if (resourceType !== 'Observation') {
        <app-autocomplete-parameter-value
          [formControl]="parameterValue"
          placeholder="Select one or more"
          [resourceType]="resourceType"
          searchParameter="code">
        </app-autocomplete-parameter-value>
      }
      @if (resourceType === 'Observation') {
        <app-observation-code-lookup
          [formControl]="selectedObservationCodes"
          [isPullData]="isPullData"
          placeholder="Type and select one or more">
        </app-observation-code-lookup>
      }
    </mat-form-field>
  }

  @if (selectedParameter?.element === OBSERVATION_VALUE) {
    <app-search-parameter-value
      class="parameter-value" [formControl]="parameterValue"
      valueLabelText="Test value"
      unitLabelText="Test value unit"
      [datatype]="observationDataType"
      [unitList]="observationUnits"
      [observationCodes]="observationCodes"
      [loincCodes]="observationLoincCodes">
    </app-search-parameter-value>
  }

</div>
