.search-parameter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

mat-form-field ~ app-observation-code-lookup,
app-observation-code-lookup ~ mat-form-field,
mat-form-field ~ mat-form-field,
mat-form-field ~ div {
  margin-left: 16px;
}

.parameter-name {
  flex: 1 1;
}

.parameter-value {
  flex: 1 1;
}

div.parameter-value {
  align-self: center;
}

app-observation-code-lookup {
  width: 100%;
}

.option-desc {
  color: rgba(0, 0, 0, 0.38);
}
