.search-parameter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

app-autocomplete ~ mat-form-field,
mat-form-field ~ app-observation-code-lookup,
app-observation-code-lookup ~ mat-form-field,
mat-form-field ~ mat-form-field,
app-autocomplete ~ mat-radio-group,
mat-radio-button ~ mat-radio-button,
app-observation-test-value {
  margin-left: 16px;
}

.parameter-name {
  flex: 1 1;
}

.parameter-value {
  flex: 1 1;
}

mat-radio-group {
  align-self: center;
  display: flex;
}

app-observation-code-lookup {
  width: 100%;
}
