<div class="search-parameter">
  <mat-form-field class="parameter-name">
    <mat-label>Search parameter name</mat-label>
    <input type="text" #searchParamName
           aria-label="Search parameter name"
           matInput
           [formControl]="parameterName"
           tabToSelect
           [matAutocomplete]="auto1">
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let option of filteredParameters | async" [value]="option.displayName">
        {{option.displayName}} <span class="option-desc" [matTooltip]="option.description">({{option.description}})</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <ng-container *ngIf="selectedParameter && selectedParameter.element !== OBSERVATIONBYTEST">
    <ng-container [ngSwitch]="selectedParameter.type">

      <div *ngSwitchCase="'boolean'" class="parameter-value">
        <mat-label><input type="radio" [formControl]="parameterValue" value="true">true</mat-label>
        <mat-label><input type="radio" [formControl]="parameterValue" value="false">false</mat-label>
      </div>

      <mat-form-field class="parameter-value"
        *ngSwitchCase="useLookupParamValue ? selectedParameter.type : ''">
        <mat-label>Search parameter value</mat-label>
        <app-autocomplete-test-value
          [options]="parameterValues" [formControl]="parameterValue" placeholder="Select one or more">
        </app-autocomplete-test-value>
      </mat-form-field>

      <app-dates-from-to *ngSwitchCase="'date'" [formControl]="parameterValue" class="parameter-value"></app-dates-from-to>

      <app-observation-test-value *ngSwitchCase="'Quantity'" class="parameter-value" [formControl]="parameterValue"
                                  datatype="Quantity">
      </app-observation-test-value>

      <mat-form-field *ngSwitchDefault class="parameter-value">
        <mat-label>Search parameter value</mat-label>
        <input matInput [formControl]="parameterValue" [placeholder]="selectedParameter.description">
      </mat-form-field>

    </ng-container>
  </ng-container>

  <mat-form-field class="flex" *ngIf="selectedParameter?.element === OBSERVATIONBYTEST">
    <mat-label>Observation codes from FHIR server</mat-label>
    <app-observation-code-lookup
      [formControl]="selectedObservationCodes"
      placeholder="Type and select one or more">
    </app-observation-code-lookup>
  </mat-form-field>

  <app-observation-test-value class="parameter-value" [formControl]="parameterValue" [datatype]="selectedObservationCodes.value?.datatype"
                  [loincCodes]="loincCodes"
                  *ngIf="selectedParameter?.element === OBSERVATIONBYTEST && selectedObservationCodes.value?.datatype">
  </app-observation-test-value>

</div>
