<p class="info">
  <span class="info-icon" aria-hidden="true"></span>
  At this step, you can search for each type of Patient-related resources and download the resource list in CSV format.
</p>

<mat-tab-group dynamicHeight>
  <mat-tab *ngFor="let resourceType of visibleResourceTypes">
    <ng-template mat-tab-label>
      <button mat-icon-button
              [hidden]="visibleResourceTypes.length === 1"
              class="remove-tab-btn"
              [attr.aria-label]="getRemoveTabButtonTooltip(resourceType)"
              [matTooltip]="getRemoveTabButtonTooltip(resourceType)"
              (click)="removeTab(resourceType)">
        <mat-icon svgIcon="clear"></mat-icon>
      </button>
      <span class="tab-label-text">
        {{getPluralFormOfResourceType(resourceType)}}
      </span>
    </ng-template>
    <div class="v-box tab-content">
      <div class="spacer"></div>

      <mat-form-field class="number-field" *ngIf="resourceType === 'Observation'">
        <mat-label>Limit per patient per test</mat-label>
        <input matInput [formControl]="perPatientPerTest" type="number" min="1">
      </mat-form-field>

      <app-search-parameters [resourceType]="resourceType" #resourceParams></app-search-parameters>

      <div class="h-box">
        <button (click)="resourceParams.addParameter()" mat-stroked-button color="secondary">
          <mat-icon svgIcon="add"></mat-icon>Add a search criterion
        </button>
        <div class="spacer"></div>
        <button mat-stroked-button
                [disabled]="resourceType === 'Observation' && perPatientPerTest.invalid"
                color="secondary"
                (click)="loadResources(resourceType, resourceParams.getConditions())">
          <mat-icon svgIcon="refresh"></mat-icon>Load {{getPluralFormOfResourceType(resourceType)}}
        </button>
      </div>
      <app-resource-table *ngIf="resourceStream[resourceType]"
          [columnDescriptions]="columnDescriptions.getVisibleColumns(resourceType) | async"
          resourceType="{{resourceType}}" [resourceStream]="resourceStream[resourceType]">
      </app-resource-table>
    </div>
  </mat-tab>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Add a new tab"
              matTooltip="Add a new tab">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let resourceType of unselectedResourceTypes"
        (click)="addTab(resourceType)">
          <span>{{resourceType}}</span>
        </button>
      </mat-menu>
    </ng-template>
  </mat-tab>
</mat-tab-group>
