.search-parameter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

mat-form-field ~ app-observation-code-lookup,
app-observation-code-lookup ~ mat-form-field,
mat-form-field ~ mat-form-field {
  margin-left: 16px;
}

.resource-type {
  width: 150px;
}

.parameter-name {
  flex: 1 1;
}

.parameter-value {
  flex: 1 1;
  align-self: center;
}

app-observation-code-lookup {
  width: 100%;
}
