<div class="search-parameter">
  <mat-form-field class="resource-type" *ngIf="!fixedResourceType">
    <mat-label>Resource type</mat-label>
    <input type="text"
           aria-label="Resource type"
           matInput
           [formControl]="resourceType"
           [matAutocomplete]="autocomplete">
    <mat-autocomplete #autocomplete="matAutocomplete">
      <mat-option *ngFor="let option of filteredResourceTypes | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="parameter-name" *ngIf="resourceType.value === 'Patient'">
    <mat-label>Search parameter name</mat-label>
    <input type="text"
           aria-label="Search parameter name"
           matInput
           [formControl]="parameterName"
           [matAutocomplete]="auto1">
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let option of filteredParameterNames | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="parameter-value" *ngIf="resourceType.value === 'Patient' && parameterName.value">
    <mat-label>Parameter value</mat-label>
    <input matInput [formControl]="parameterValue">
  </mat-form-field>

  <mat-form-field class="flex" *ngIf="resourceType.value === 'Observation'">
    <mat-label>Observation codes from FHIR server</mat-label>
    <app-observation-code-lookup
      [formControl]="selectedLoincItems"
      placeholder="Type and select one or more">
    </app-observation-code-lookup>
  </mat-form-field>

  <mat-form-field class="parameter-value" *ngIf="resourceType.value === 'Observation' && selectedLoincItems.value?.datatype">
    <mat-label>Test value</mat-label>
    <input matInput [formControl]="parameterValue">
  </mat-form-field>

</div>
