/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.v-box {
  display: flex;
  flex-direction: column;

  & > .spacer {
    height: 16px;
  }
}

.h-box {
  display: flex;
  flex-direction: row;

  & > .spacer {
    width: 16px;
  }
}

.center-items {
  align-items: center;
}

.flex {
  flex: 1 1;
}

.info {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 0.5em 1em 0.5em;
  color: #000;
  font-weight: bold;
  background-color: #d7e9d8;
}

.info-icon {
  display: none;
  //display: flex;
  align-items: center;
}

.info-icon::before {
  display: none;
  //display: inline-block;
  content: url("assets/info.svg");
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 0.5em;
}

/*
 Temporary solution: Showing icon properly beside of text in mat-stroked-button
 */
button.mat-stroked-button .mat-icon {
  margin-top: -3px;
}

/*
 Autocomplete-lhc styles
 */
@import "~autocomplete-lhc/source/auto_completion.css";
.autocomp_selected {
  padding: 0;
  line-height: normal;
  width: 100%;
  border-radius: unset;
  border: 0;
}

.autocomp_selected input {
  border-width: 0;
  font: inherit;
  outline-style: none;
}

input.search_field {
  padding-right: 0;
}

// Override some styles from autocomplete-lhc, because the wrapper element styles are different here.
.loading-indicator-container {
  width: 100%;
}
.loading-indicator-container progress {
  bottom: -0.5em;
}

/**
 * Remove original style for autocompletion input fields whose input does not match
 * any value in the list.  (The redundancy here is for overriding another
 * background setting on input[type='text'].)
 */
.ansList.no_match, input[type='text'].ansList.no_match, .search_field.no_match {
  background-color: transparent;
  color: currentColor;
  font-style: inherit;
}

/**
 * Correct down arrow position
 */
.ansList.ac_multiple, .ansList.ac_multiple:focus {
  width: calc(100% - 14px);
}

// Remove original error state - we use MatFormField to show an error state
input.search_field.invalid {
  border-width: 0;
}

.autocomp_selected ul:empty {
  display: none;
  border-bottom: 0;
}

.autocomp_selected ul {
  border-bottom: 1px solid #17b4e3;
  margin: 0 0 0.25em 0;
  padding: 0 0.25em;
}

.autocomp_selected li {
  line-height: 1.42857;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 0;
}

.ansList:focus, .search_field:focus {
  background-color: #FFFFFF;
}


/*
  TODO: Should we fix Material styles manually, for example for align outlined material inputs?
 */
//.mat-form-field-appearance-outline .mat-form-field-label {
//  top: 1.84375em;
//  margin-top: 0;
//}
//
//.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
//  transform: translateY(-1.84375em) scale(0.75);
//  width: 133.3333333333%;
//}

/*
 Workaround for first displaying of mat-expansion-panel component.
 See https://github.com/angular/components/issues/11765 for details.
 */
.ng-animating mat-expansion-panel:not(.mat-expanded) mat-expansion-panel-header {
  height: 48px;
}

.ng-animating mat-expansion-panel:not(.mat-expanded) div.mat-expansion-panel-content {
  height: 0;
  visibility: hidden;
}

/*
 Styles for the collapsible section.
 */
.section.mat-expansion-panel {
  & .mat-expansion-panel-header {
    height: 48px;
    padding: 0 8px;

    & .expand-collapse-icon::before {
      content: url("assets/keyboard_arrow_right.svg");
      height: 24px;
      width: 24px;
    }

    &.mat-expanded {
      & .expand-collapse-icon::before {
        content: url(assets/keyboard_arrow_down_black.svg);
      }

      border-bottom-left-radius: initial;
      border-bottom-right-radius: initial;
    }

    & .mat-expansion-indicator {
      display: none;
    }
  }

  & .mat-expansion-panel-body {
    padding: 16px 24px 16px;
  }

  // Section with zero elevation (https://material.angular.io/guide/elevation)
  &.mat-elevation-z {
    display: flex;
    flex-direction: column;

    & .mat-expansion-panel-header {
      height: 36px;
      align-self: flex-start;
      padding: 0;

      // When we use "align-self: flex-start;" the header is not displayed in IE,
      // to fix that we change the "display" property to "table-cell"
      & .mat-content {
        display: table-cell;
      }

      & .mat-expansion-panel-header-title {
        text-decoration: underline;
        color: #337ab7;
      }
    }

    & .mat-expansion-panel-body {
      padding: 6px 14px 6px;
    }
  }
}

// Style mat-hint for big chunks of text
.mat-form-field-wrapper {
  padding-bottom: 0;

  & .mat-form-field-subscript-wrapper {
    position: relative;
  }
}

// Highlight the selected mat-step
.mat-step-header {
  .mat-step-icon-selected {
    height: 32px;
    width: 32px;
  }

  .mat-step-label.mat-step-label-selected {
    .mat-step-text-label {
      //color: #3f51b5;
      text-decoration: underline;
    }
  }
}

// Tooltip styles
.mat-tooltip-panel .mat-tooltip {
  font-size: 14px;
  max-width: unset;
}

// Autocomplete dropdown list
#searchResults.form_auto_complete {
  z-index: 1100; // must be greater than modal z-index of 1000
  margin-top: 9px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .auto_complete > ul > li, #moreResults, #searchCount {
    font-size: 16px;
    padding: 13.5px 16px;
    border: 0;
  }

  .auto_complete {
    li:hover, .selected {
      background: rgba(0, 0, 0, 0.04);
    }

    &.multi_col > ul > li:last-child {
      border: 0;
    }
  }

  #moreResults {
    border-top: 1px solid #DFDFDF;
  }

  #completionOptionsScroller {
    border: 0;
  }
}

// Highlight current tab
mat-step-header[aria-selected=true] {
  background-color: rgba(0, 0, 0, .04);
}
// Remove highlight from cdk-program-focused class alone, since it was causing the
// wrong tab highlighted for dbGap server where there is a conditional tab.
.mat-step-header.cdk-program-focused[aria-selected=false] {
  background-color: unset;
}

.custom-overlay {
  // Do not restrict the overlay height
  max-height: unset;
  .autocomp_selected ul {
    // Limit height of selected item list if autocompleter is in CustomDialog
    max-height: 25vh;
    overflow-y: auto;
  }
}

// Replaces the default maximum menu panel width of 280px
.cdk-overlay-pane .mat-menu-panel {
  max-width: 400px;
}


.init-spinner-container .mat-dialog-container {
  border-radius: 10px;
  padding: 2rem;
}


@import 'ngx-toastr/toastr';
