<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LHC FHIR Tools</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-59GQ6JK');</script>
    <!-- End Google Tag Manager -->


    <style id="antiClickjack">
      body{display:none !important;}
    </style>
    <script type="text/javascript">
      if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
      } else {
        top.location = self.location;
      }
    </script>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"
          rel="stylesheet" type="text/css">
    <link href="https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/18.0.1/autocomplete-lhc.min.css"
          integrity="sha384-JjNQGLGKwnlylBNqm5Al8cA7jt1nF5dHsagzjEEE85ZHogKi96zVUB2wehoMQAZ9" crossorigin="anonymous"
          rel="stylesheet">
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59GQ6JK" height="0" width="0" style="display:none;visibility:hidden" title="googletagmanager" sandbox></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--[if lt IE 9]>
    <p class=alert><b>Note:</b> It appears you are using an unsupported
     version of the IE browser. This website will not work properly with
     IE 8 or below.</p>
    <![endif]-->

    <!-- page header -->
    <div id="header">
      <a href="http://lhncbc.nlm.nih.gov" title="Lister Hill Center" id="logo">
        <img src="<%= require('./images/lhncbc.jpg') %>" alt="Lister Hill Center" />
      </a>
      <div id="siteNameBox">
        <span id=siteName>FHIR Research Data Finder</span><br>
        <span id=tagline>An <a
         href="https://github.com/lhncbc/fhir-obs-viewer">open source</a> viewer
         for FHIR Observations from the National Library of Medicine</span>
      </div>
      <div id="version">Version: <a target="_blank" rel="noopener noreferrer"
                                    href="https://github.com/lhncbc/fhir-obs-viewer/blob/master/CHANGELOG.md"><%= version %></a></div>
    </div>
    <!-- end page header -->
    <ul class="nav-links horz-list">
      <li><a id="fhirLink" class=current href="https://lhcforms.nlm.nih.gov">FHIR Tools</a></li><!--
      --><li><a href="https://lhcforms.nlm.nih.gov/lhcforms">LHC-Forms Demo</a></li><!--
      --><li><a href="https://lhcformbuilder.nlm.nih.gov" target="_blank" rel="noopener noreferrer">Form Builder</a></li><!--
      --><li><a href="https://clinicaltables.nlm.nih.gov"
       target="_blank" rel="noopener noreferrer">Clinical Table Search
       Service</a></li><!--
      --><li class="last-item"><a id="sdcPageLink" href="https://lhcforms.nlm.nih.gov/sdc">FHIR SDC SMART App</a></li>
    </ul>


    <div id=content>

      <span class="description">
        This is a tool that allows you to view a FHIR server's resources.
      </span>

      <div class="section">
        <label class="section__title">Settings</label>
        <div class="section__body">
          <div>
            <label for="fhirServer">FHIR server:</label>
            <div class="hinted flex-fill">
                <input type="text" id=fhirServer value="">
              <label>See <a target="_blank" href="https://www.hl7.org/fhir/http.html#root">FHIR REST API Service Base URL</a> for details</label>
            </div>

          </div>

          <div class="section section_collapsed">
            <label class="section__title">Advanced Settings</label>
            <div class="section__body">
              <div class="api-key-section">
                <label for="apiKey">NCBI E-utilities API Key:</label>
                <div class="hinted flex-fill">
                  <input type="text" id="apiKey" placeholder="api_key value">
                  <label>See <a target="_blank" href="https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/">New API Keys for the E-utilities</a> article for details</label>
                </div>
              </div>
              <div class="performance-tuning">
                <label for="maxRequestsPerBatch">Requests per batch:</label>
                <div>
                  <input type="number" id="maxRequestsPerBatch" value="" min="1">
                </div>
                <label for="maxActiveRequests">Maximum active requests:</label>
                <div>
                  <input type="number" id="maxActiveRequests" value="" min="1">
                </div>
                <label>Actions:</label>
                <button onclick="app.clearCache()">Clear cache</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <span class="description">
          You can define criteria to build a cohort of Patient resources for which you want to pull related resource data,
          or load previously saved cohort of Patients and the criteria which selected them.
      </span>

      <div class="h-box">
        <label class="radio-option">
          <input type="radio" checked name="cohortOption" id="buildCohortOption" value="build"
                 onchange="app.onChangePatientForm()">
          Build Cohort
        </label>
        <label class="radio-option">
          <input type="radio" name="cohortOption" id="loadCohortOption" value="load"
                 onchange="app.onChangePatientForm()">
          Load Cohort<span id="patientLoadForm" class="hide">:
            <input style="display: none;" type="file" id="cohortFile" onchange="app.loadCohort(event)">
            <label id="cohortFilename" for="cohortFile"
                   class="upload-file-link" tabindex="0" onkeydown="keydownToClick(event)"></label>
          </span>
        </label>
      </div>

      <form id="patientCriteriaForm" onsubmit="app.loadPatients(); return false;">
        <div class="section">
          <label class="section__title">Build Cohort criteria</label>
          <div class="section__body">
            <span class="description">
              Criteria can be defined not only for the Patient resource but also for related resources.
              Patients will be added to the cohort if the related resources meet the criteria.
            </span>
            <div id="patientSearchParamsAfterThisRow">
              <label for="maxPatientCount">Maximum number of patients:</label>
              <input type="number" id="maxPatientCount" value="100">
            </div>
          </div>
        </div>

        <button id=loadPatients onclick="app.checkPatientCriteria()">Search for Patients</button>
        <span id=reportPatients class="hide"></span>
      </form>
      <p id="noPatients" class="hide"></p>

      <div id="patientsArea" class="hide">
        <span class="description">
          Click on the link below to save the cohort of Patients and the criteria for later.
        </span>
        <a id="saveCohort" href="#" class="download-file-link"
           onclick="app.downloadCohort();return false;">Save the cohort for later</a>
        <div class="section section_sticky">
          <label class="section__title">Cohort [<span id="patientsCount">0</span> Patients]</label>
          <div class="section__body"></div>
        </div>
        <div class="section">
          <label class="section__title">Pull data for Cohort</label>
          <div class="section__body">
            <span class="description">
              Here you can search for each type of Patient-related resources and download the resource list in CSV format.
            </span>
          </div>
        </div>

      </div>

    </div>

    <!-- page footer -->
    <div id="fine-print">
      <ul class="horz-list">
        <li><a title="NLM copyright information"  href="http://www.nlm.nih.gov/copyright.html">Copyright</a></li>
        <li><a title="NLM privacy policy" href="http://www.nlm.nih.gov/privacy.html">Privacy</a></li>
        <li><a title="NLM accessibility" href="http://www.nlm.nih.gov/accessibility.html" >Accessibility</a></li>
        <li><a title="NIH Freedom of Information Act office"  href="http://www.nih.gov/icd/od/foia/index.htm"
         >Freedom of Information Act</a></li>
        <li class="last-item"><a title="USA.gov" href="http://www.usa.gov/"><img
                src="<%= require('./images/USAgov.gif') %>" alt="USA.gov" id="usagov"></a></li>
      </ul>
      <ul class="horz-list">
        <li><a title="U.S. National Library of Medicine" href="http://www.nlm.nih.gov/"
         >U.S. National Library of Medicine</a></li>
        <li><a title="U.S. National Institutes of Health" href="http://www.nih.gov/"
         >U.S. National Institutes of Health</a></li>
        <li class="last-item"><a title="U.S. Department of Health and Human Services"  href="http://www.hhs.gov/"
         >U.S. Department of Health and Human Services</a></li>
      </ul>
    </div>
    <!-- end page footer -->

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.53.1&features=Symbol%2CSymbol.iterator%2CArray.from%2CCustomEvent"
            integrity="sha384-bF2gXog8EbftpjuWQY8G0T7aeq+FvNU9YWvxSRHybqv2F/lvV5msKMHvRgoukeQP"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/18.1.1/autocomplete-lhc.min.js"
            integrity="sha384-y5lNC4qz9o7wG9yIIQQNcxxqEkWqnPit6/VnEJ9jag/gFgocblckjXdkE4NWh+0U"
            crossorigin="anonymous"></script>
  </body>
</html>
